*.log
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
npm-debug.log*
log.txt
Thumbs.db
.DS_Store
composer.lock
package-lock.json
.sourcemaps/
.sass-cache/
.tmp/
.versions/
$RECYCLE.BIN/
.vscode/
.idea/
vendor/
node_modules/
vali/
dist/
public/
templates/
.phpintel/
.vs/
/src/app.php
src/
