header
    div.ui.column.grid
        div.computer.only.column.row            
            div.ui.top.fixed.six.item.menu
                //h2(style="position: absolute;") InformativoIPB
                //i.large.home.icon(style="position: absolute;")
                div.ui.container
                    div.ui.simple.dropdown.item
                        i.big.edit.icon
                        | Cadastros
                        i.dropdown.icon

                        div.menu
                            a.item(href="cadastros-sinodos")
                                i.radio.icon
                                | Sinodos
                            a.item(href="cadastros-presbiterios")
                                i.radio.icon
                                | Presbitérios
                            a.item(href="cadastros-igrejas")
                                i.radio.icon
                                | Igrejas
                            a.item(href="cadastros-ministros")
                                i.radio.icon
                                | Ministros

                    div.ui.simple.dropdown.item
                        i.big.browser.icon
                        | Relatórios
                        i.dropdown.icon
                        div.menu
                            a.item(href="relatorios-conselhos")
                                i.radio.icon
                                | Conselho
                            a.item(href="relatorios-ministeriais")
                                i.radio.icon
                                | Ministerial
                            a.item(href="relatorios-estatisticas")
                                i.radio.icon
                                | Estatistica
                            a.item(href="#")
                                i.radio.icon
                                | Financeiro

                    div.ui.simple.dropdown.item
                        i.big.cubes.icon
                        | Presbitérios
                        i.dropdown.icon
                        div.menu
                            a.item.in-dev(href="reuniao-presbiterio")
                                i.radio.icon
                                | Incluir Reunião
                            a.item.in-dev(href="consultar-estatisticas-presbiterio")
                                i.radio.icon
                                | Consultar Estatística

                    div.ui.simple.dropdown.item
                        i.big.sitemap.icon
                        | Sínodos
                        i.dropdown.icon
                        div.menu
                            a.item.sinodos.in-dev(href="#")
                                i.radio.icon
                                | Incluir Reunião
                            a.item.sinodos.in-dev(href="#")
                                i.radio.icon
                                | Consultar Estatística

                    div.ui.simple.dropdown.item
                        i.big.bar.chart.icon
                        | Consultas
                        i.dropdown.icon
                        div.menu
                            a.item.in-dev(href="#")
                                i.radio.icon
                                | Reuniões de Presbitérios
                            a.item.in-dev(href="#")
                                i.radio.icon
                                | Reuniões de Sínodos
                            a.item.in-dev(href="#")
                                i.radio.icon
                                | Consulta Geral de Membros
                            a.item.in-dev(href="#")
                                i.radio.icon
                                | Consulta Geral Financeira
                            a.item.in-dev(href="#")
                                i.radio.icon
                                | Estatísticas de Membresia

                    div.ui.simple.dropdown.item
                        i.big.settings.icon
                        | Configurações
                        i.dropdown.icon
                        div.menu
                            a.item(href="meu-usuario")
                                i.user.icon
                                | Meu Usuário
                            a.item(href="administrar-usuarios")
                                i.users.icon
                                | Administrar Usuários
                            a.item.in-dev(href="#")
                                i.options.icon
                                | Parâmetros do Sistema
                            a.item.in-dev(href="#")
                                i.talk.icon
                                | Solicitar Ajuda
                            a.item(id="logout")
                                i.sign.out.icon
                                | Sair do Sistema
                                        
                    span(style="margin-top:15px;margin-left: 20px;")
                        i.big.envelope.green.icon.looping
