header
    div.ui.column.grid
        div.computer.only.column.row
            div.ui.fixed.stackable.menu
                //h2(style="position: absolute;") InformativoIPB
                //i.large.home.icon(style="position: absolute;")
                div.ui.container

                    div.ui.simple.dropdown.item
                        i.big.edit.icon
                        | Cadastros
                        i.dropdown.icon

                        div.menu
                            a.item(href="cadastros-sinodos.html")
                                i.radio.icon
                                | Sinodos
                            a.item(href="cadastros-presbiterios.html")
                                i.radio.icon
                                | Presbitérios
                            a.item(href="cadastros-igrejas.html")
                                i.radio.icon
                                | Igrejas
                            a.item(href="cadastros-presbiteros.html")
                                i.radio.icon
                                | Ministros

                    div.ui.simple.dropdown.item
                        i.big.browser.icon
                        | Relatórios
                        i.dropdown.icon
                        div.menu
                            a.item(href="relatorios-conselhos.html")
                                i.radio.icon
                                | Conselho
                            a.item(href="relatorios-ministeriais.html")
                                i.radio.icon
                                | Ministerial
                            a.item(href="relatorios-estatisticas.html")
                                i.radio.icon
                                | Estatistica
                            a.item(href="#")
                                i.radio.icon
                                | Financeiro

                    div.ui.simple.dropdown.item
                        i.big.cubes.icon
                        | Presbitérios
                        i.dropdown.icon
                        div.menu
                            a.item(href="#")
                                i.radio.icon
                                | Incluir Reunião
                            a.item(href="#")
                                i.radio.icon
                                | Consultar Estatística

                    div.ui.simple.dropdown.item
                        i.big.sitemap.icon
                        | Sínodos
                        i.dropdown.icon
                        div.menu
                            a.item(href="#")
                                i.radio.icon
                                | Incluir Reunião
                            a.item(href="#")
                                i.radio.icon
                                | Consultar Estatística

                    div.ui.simple.dropdown.item
                        i.big.bar.chart.icon
                        | Consultas e Estatísticas
                        i.dropdown.icon
                        div.menu
                            a.item(href="#")
                                i.radio.icon
                                | Reuniões de Presbitérios
                            a.item(href="#")
                                i.radio.icon
                                | Reuniões de Sínodos
                            a.item(href="#")
                                i.radio.icon
                                | Consulta Geral de Membros
                            a.item(href="#")
                                i.radio.icon
                                | Consulta Geral Financeira
                            a.item(href="#")
                                i.radio.icon
                                | Estatísticas de Membresia

                    div.ui.simple.dropdown.item
                        i.big.settings.icon
                        | Configurações
                        i.dropdown.icon
                        div.menu
                            a.item(href="#")
                                i.user.icon
                                | Meu Usuário
                            a.item(href="#")
                                i.users.icon
                                | Administrar Usuários
                            a.item(href="#")
                                i.options.icon
                                | Parâmetros do Sistema
                            a.item(href="#")
                                i.talk.icon
                                | Solicitar Ajuda

                    div.right.menu
                        div.right.menu
                            div.item
                                div.ui.green.animated.button(tabindex="0")
                                    div.visible.content
                                        i.large.arrow.right.icon
                                    div.hidden.content
                                        | Sair