div.ui.column.grid
    div.tablet.only.mobile.only.column.row

        div.ui.green.top.fixed.three.item.menu
            a.toc.item
                i.large.sidebar.icon
            a.item.button
                i.large.home.icon
            a.item.button
                i.large.bar.chart.icon