div.ui.column.grid
    div.tablet.only.mobile.only.column.row

        div.ui.big.green.top.three.item.fixed.menu
            a.toc.item
                i.large.sidebar.icon
            a.item.button(href="inicio")
                i.large.home.icon
            a.item.button(href="consulta-mobile.html")
                i.large.bar.chart.icon
