meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel="icon", href="images/favicon.ico")

// The javascript plugin to display page loading on top
script(src='js/app/pace-app.js')

// Main CSS
//link(rel='stylesheet', type='text/css', href='css/semantic.css')
link(rel='stylesheet', type='text/css', href='css/main.min.css')
// iziToast
link(rel='stylesheet', type='text/css', href='css/iziToast.min.css')
// Font-icon css
//link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
//link(rel='stylesheet', type='text/css', href='https://use.fontawesome.com/releases/v5.0.7/css/all.css')
//link(rel='stylesheet', type='text/css', href='https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css')
// tema dataTables Semantic
link(rel="stylesheet" href="css/dataTables.semanticui.min.css")


title InformativoIPB
