// Essential javascripts for application to work
script(src='js/jquery-3.2.1.min.js')
//script(src='js/popper.min.js')
//script(src='js/plugins/bootstrap-notify.min.js')
script(src='js/plugins/iziToast.min.js')
script(src='js/semantic.js')
//script(src='js/main.js')
script(src='js/plugins/select2.min.js')
script(type="text/javascript").
    $('#windows')
        .transition('fade down', '500ms')
    ;
    $('.ui.checkbox')
        .checkbox()

    $('.ui.sidebar').first()
        .sidebar('attach events', '.toc', 'show')
    ;
    $('.accordion.menu')
        .accordion()
    ;
    $('.envelope')
        .transition({
            animation: 'pulse',
            duration: '3s',
            allowRepeats: true,
            looping    : 'looping',
        })
    ;
    $(".ui.modal")
        .modal({
            approve: '.approve'
        })
        .modal('attach events', '.envelope', 'show');
