div.ui.clearing

// Mensagem caso o registro foi inserido
| @if(session('saved'))

div.ui.positive.message
    i.close.icon
    div.header
        | Sucesso!
    p Parabéns, o registro foi inserido com sucesso!
// Mensagem caso o registro foi atualizado
| @elseif(session('updated'))

div.ui.positive.message
    i.close.icon
    div.header
        | Sucesso!
    p Parabéns, o registro foi atualizado com sucesso!

// Mensagem caso o registro foi deletado
| @elseif(session('deleted'))

div.ui.positive.message
    i.close.icon
    div.header
        | Sucesso!
    p Parabéns, o registro foi apagado com sucesso!

// Mensagens de validação
| @elseif(session('needCompany'))

div.ui.warning.message
    i.close.icon
    div.header
        | Atenção!
    p Algumas informações estão incorretas, ajuste e tente novamente por favor!

| @endif

// Mensagens de Erro por FormRequest
| @if($errors->form->any())

div.ui.negative.message
    i.close.icon
    div.header
        | Falha na validação dos campos!
    ul
        | @foreach($errors->form->all() as $error )
        li {!! $error !!}
        | @endforeach
| @endif

// Mensagens de Erro
| @if($errors->any())

div.ui.negative.message
    i.close.icon
    div.header
        | Falhou!
    p Houve algum problema com a solicitação efetuada, tente novamente ou procure o suporte!
    p
        | {{ $errors->first() }}

| @endif
div.ui.clearing