div.ui.sidebar.vertical.menu
    div.item(style="background-color: #16ab39;")
        img.ui.tiny.avatar.image(src="https://www.w3schools.com/w3css/img_avatar3.png")
        span(style="color: white;font-size: large") João Calvino
    a.active.item
        i.home.icon
        | HOME
    a.item
        i.edit.icon
        | CADASTROS
    a.item
        i.browser.icon
        | FORMULARIOS
    a.item
        i.bar.chart.icon
        | CONSULTAS
    a.item
        i.settings.icon
        | CONFIGURAÇÕES
    a.item
        i.edit.icon
        | SINODOS