div.ui.sidebar.vertical.accordion.menu
    div.item(style="background-color: #16ab39;height: 150px")
        img.ui.tiny.avatar.image(src="https://www.w3schools.com/w3css/img_avatar3.png", style="padding-top: 25px;")
        span(style="color: white;font-size: large;padding-left: 10px;font-weight: bold;")
            | João Calvino
        span(style="display: flex;margin-top: -40px;margin-left: 93px;font-weight: 400;color: white;") Presbítero Docente
        span(style="display: flex;margin-top: 6px;margin-left: 93px;font-weight: 400;color: white;") IPB Cacoal

    a.item(href="inicio") INÍCIO
        i.home.icon

    div.item
        a.title
            i.dropdown.icon
            | CADASTROS
        div.content
            a.item(href="sinodos") SÍNODOS
            a.item(href="presbiterios") PRESBITÉRIOS
            a.item(href="igrejas") IGREJAS
            a.item(href="ministros") PRESBÍTEROS

    div.item
        a.title
            i.dropdown.icon
            | RELATÓRIOS
        div.content
            a.item(href="relatorios-conselhos") CONSELHO
            a.item(href="relatorios-ministeriais") MINSTÉRIAL
            a.item(href="relatorios-estatisticas") ESTATÍSTICA

    div.item
        a.title
            i.dropdown.icon
            | PRESBITÉRIOS
        div.content
            a.item.in-dev(href="presbiterio-reuniao") INCLUIR REUNIÃO
            a.item.in-dev(href="presbiterio-estatistica") CONSULTAR ESTATÍSTICA

    div.item
        a.title
            i.dropdown.icon
            | SÍNODOS
        div.content
            a.item.in-dev(href="sinodo-reuniao") INCLUIR REUNIÃO
            a.item.in-dev(href="sinodo-estatistica") CONSULTAR ESTATÍSTICA

    div.item
        a.title
            i.dropdown.icon
            | CONSULTAS ESTATÍSTICAS
        div.content
            a.item.in-dev(href="consultas-ministerial") REUNIÕES DE PRESBITÉRIOS
            a.item.in-dev(href="consultas-ministerial") REUNIÕES DE SÍNODOS
            a.item.in-dev(href="consultas-ministerial") GERAL DE MEMBROS
            a.item.in-dev(href="consultas-ministerial") GERAL FINANCEIRA
            a.item.in-dev(href="consultas-ministerial") CRESCIMENTO EBD

    div.item
        a.title
            i.dropdown.icon
            | CONFIGURAÇÕES
        div.content
            a.item.in-dev(href="meu-usuario") MEU USUÁRIO
            a.item(href="administrar-usuarios") ADMINISTRAR USUÁRIOS
            a.item.in-dev(href="parametros-sistema") PARÂMETROS DO SISTEMA
            a.item.in-dev(href="ajuda") SOLICITAR AJUDA

    a.item(id="logout_m") SAIR
        i.sign.out.icon
