extends ../layouts/_layout.pug

block content

    include ../includes/_messages

    div.ui.segment
        a.ui.right.floated.green.tiny.button(href='/cadastros/sinodos/novo')
            i.plus.icon
            | Novo

        h3.ui.floated.header(style='padding-top: 6px;padding-left: 10px;')
            i.edit.outline.icon
        h1.ui.floated.header(style='margin-left: -10px;')
            | Cadastro de Sínodos
            div.sub.header(style='margin-left: -40px;')
                | Visualize todos os sínodos que estão cadastrados.

        div.ui.clearing.divider
        p
        table.ui.celled.unstackable.sortable.green.table
            thead
                tr
                    th.ten.wide Nome
                    th.two.wide.center.aligned Sigla
                    th.two.wide.center.aligned Região
                    th.one.wide
            tbody
                | @forelse($resources as $sinodo)
                tr
                    td {{ $sinodo->nome }}
                    td {{ $sinodo->sigla }}
                    td {{ $sinodo->nome_regiao()}}
                    td.center.aligned(title='Editar Sínodo')
                        a.ui.icon.primary.button(href!="/cadastros/sinodos/{{$sinodo->id}}/editar")
                            i.pencil.alternate.icon
                | @empty
                tr
                    td(colspan='4') Nenhum registro encontrado.
                | @endforelse
            tfoot
                tr
                    th(colspan='4')
                        div.ui.right.floated.pagination.menu
                            | {{ $resources->links('pagination::semantic-ui') }}

block specific-js
    script(type='text/javascript').
        $('table').tablesort();