extends ../layouts/_layout.pug

block content

    include ../includes/_messages

    div.ui.segment

        a.ui.right.floated.blue.tiny.button(href='/cadastros/presbiterios')
            i.reply.icon
            | Voltar

        h3.ui.floated.header(style='padding-top: 6px;padding-left: 10px;')
            i.edit.outline.icon
        h1.ui.floated.header(style='margin-left: -10px;')
            | Cadastro de Presbitérios
            div.sub.header(style='margin-left: -40px;')
                | Visualize todos os presbitérios que estão cadastrados.


        div.ui.clearing.divider
        p
        form(id="formDelete", name="formDelete", action!="{{ url()->current() }}", method="post")
            | @csrf
            | @method("delete")

        form(id="formResource", name="formResource" action!="{{ url()->current() }}", method="post")
            | @csrf
            div.ui.form
                div.fields
                    div.sixteen.wide.required.field
                        label Sínodos
                        //select.ui.search.dropdown(name="id_sinodo")
                            option
                            option(value="") Selecione o Sínodo
                        div.ui.search(title='Digite o nome do sínodo')
                            div.ui.left.icon.input
                                input.prompt(type='text' placeholder='Procurar' name='sinodo')
                                i.search.icon

                div.fields
                    div.eight.wide.required.field
                        label Nome
                        input(type="text", name="nome", placeholder="Digite o Nome")

                    div.three.wide.required.field
                        label Sigla
                        input(type="text", name="sigla", placeholder="Digite a Sigla")

                    div.six.wide.required.field
                        label Região
                        select.ui.search.dropdown(name="regiao")
                            option(value="") Região
                            option(value="1") NORTE
                            option(value="2") NORDESTE
                            option(value="3") CENTRO-OESTE
                            option(value="4") SUDESTE
                            option(value="5") SUL

            div.ui.segments
                div.ui.horizontal.segments
                    div.ui.segment
                        span(style="color: lightslategray;")
                            strong Usuário inclusão:
                        span(style="color: lightslategray;")
                            | &nbsp;
                            span(id="user_inc")
                            | &nbsp;
                        span(style="float: right;color: lightslategray;")
                            strong Data:
                            | &nbsp;
                            span(id="data_inc")

            div.ui.clearing.divider

            div(style="text-align: center")
                button.ui.green.labeled.icon.button(type="submit")
                    i.plus.icon
                    | Gravar

                button.ui.reset.button(type="reset")
                    i.minus.icon
                    | Limpar

                button.ui.red.right.labeled.icon.button(type="submit" form='formDelete')
                    i.remove.icon
                    | Excluir

block specific-js
    script(src="{{asset('js/app/cadastros-presbiterios-app.js')}}")
    script(type='text/javascript' async).
        $(document).ready(function () {
            //$('.ui.dropdown').dropdown();
        });
    | @isset($resource)
    script(type='text/javascript' async).
        try {
            //var sinodo = JSON.parse('{!! $resource !!}');
            var sinodo = @json($resource);
            formResource.nome.value = sinodo.nome !== null ? sinodo.nome : '';
            formResource.sigla.value = sinodo.sigla !== null ? sinodo.sigla : '';
            formResource.regiao.value = sinodo.regiao !== null ? sinodo.regiao : '';
            formResource.sinodo.value = sinodo.sinodo !== null ? sinodo.sinodo.nome : '';
            $(formResource).append('<input type="hidden" name="_method" value="put">');
        } catch (e) {
            alert('As informações não puderam ser carregadas, por favor entre em contato com o suporte.');
        }
    | @endisset