<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th class="Igrejas-cell">Igrejas</th>
        <th class="Pastores-cell">Pastores</th>
        <th class="-cell"></th>
        <th class="Licenciados-cell">Licenciados</th>
        <th class="-cell"></th>
        <th class="Presbíteros-cell">Presbíteros</th>
        <th class="-cell"></th>
        <th class="Diáconos-cell">Diáconos</th>
        <th class="-cell"></th>
        <th class="Evangelistas-cell">Evangelistas</th>
        <th class="-cell"></th>
        <th class="Missionários-cell">Missionários</th>
        <th class="-cell"></th>
        <th class="Candidatos-cell">Candidatos</th>
        <th class="-cell"></th>
        <th class="Igrejas-cell">Igrejas</th>
        <th class="-cell"></th>
        <th class="Congreg. de Igrejas-cell">Congreg. de Igrejas</th>
        <th class="-cell"></th>
        <th class="Pontos de Pregação-cell">Pontos de Pregação</th>
        <th class="-cell"></th>
        <th class="N.º Escolas Dom.-cell">N.º Escolas Dom.</th>
        <th class="-cell"></th>
        <th class="N.º Prof. da ED-cell">N.º Prof. da ED</th>
        <th class="-cell"></th>
        <th class="N.º Alunos ED - Atual-cell">N.º Alunos ED - Atual</th>
        <th class="-cell"></th>
        <th class="N.º Alunos ED - Anter.-cell">N.º Alunos ED - Anter.</th>
        <th class="-cell"></th>
        <th class="Variação Percentual-cell">Variação Percentual</th>
        <th class="-cell"></th>
        <th class="Congreg. Presbiteriais-cell">Congreg. Presbiteriais</th>
        <th class="-cell"></th>
        <th class="N.º de Educandários-cell">N.º de Educandários</th>
        <th class="-cell"></th>
        <th class="N.º de Alunos Educ.-cell">N.º de Alunos Educ.</th>
        <th class="-cell"></th>
        <th class="N.º de Creches-cell">N.º de Creches</th>
        <th class="-cell"></th>
        <th class="N.º de Crianças-cell">N.º de Crianças</th>
        <th class="-cell"></th>
        <th class="N.º Outros-cell">N.º Outros</th>
        <th class="-cell"></th>
        <th class="N.º de Pessoas-cell">N.º de Pessoas</th>
        <th class="-cell"></th>
        <th class="N.º UCPs-cell">N.º UCPs</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="Sócios UCP-cell">Sócios UCP</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="N.º UPA-cell">N.º UPA</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="Sócios UPA-cell">Sócios UPA</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="N.º UMP-cell">N.º UMP</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="Sócios UMP-cell">Sócios UMP</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="N.º SAF -cell">N.º SAF</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="Sócias SAF-cell">Sócias SAF</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="UPH-cell">UPH</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="Sócios UPH-cell">Sócios UPH</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="N.º Outros-cell">N.º Outros</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="Sócios Outros-cell">Sócios Outros</th>
        <th class="-cell"></th>
        <th class="-cell"></th>
        <th class="Total  de Sociedades-cell">Total de Sociedades</th>
        <th class="-cell"></th>
        <th class="Total de Sócios-cell">Total de Sócios</th>
        <th class="-cell"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="firstRow">
        <td class="Igrejas-cell">IP ALTA FLORESTA</td>
        <td class="Pastores-cell">1</td>
        <td class="-cell"></td>
        <td class="Licenciados-cell">0</td>
        <td class="-cell"></td>
        <td class="Presbíteros-cell">4</td>
        <td class="-cell"></td>
        <td class="Diáconos-cell">4</td>
        <td class="-cell"></td>
        <td class="Evangelistas-cell">1</td>
        <td class="-cell"></td>
        <td class="Missionários-cell">0</td>
        <td class="-cell"></td>
        <td class="Candidatos-cell">0</td>
        <td class="-cell"></td>
        <td class="Igrejas-cell">1</td>
        <td class="-cell"></td>
        <td class="Congreg. de Igrejas-cell">1</td>
        <td class="-cell"></td>
        <td class="Pontos de Pregação-cell">3</td>
        <td class="-cell"></td>
        <td class="N.º Escolas Dom.-cell">3</td>
        <td class="-cell"></td>
        <td class="N.º Prof. da ED-cell">13</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Atual-cell">124</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Anter.-cell">127</td>
        <td class="-cell"></td>
        <td class="Variação Percentual-cell">-2,4%</td>
        <td class="-cell"></td>
        <td class="Congreg. Presbiteriais-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Educandários-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Alunos Educ.-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Creches-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Crianças-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Pessoas-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º UCPs-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UCP-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UPA-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPA-cell">8</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UMP-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UMP-cell">16</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º SAF -cell">2</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócias SAF-cell">16</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="UPH-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPH-cell">9</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios Outros-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Total  de Sociedades-cell">6</td>
        <td class="-cell"></td>
        <td class="Total de Sócios-cell">50</td>
        <td class="-cell"></td>
    </tr>
    <tr>
        <td class="Igrejas-cell">IP CACOAL</td>
        <td class="Pastores-cell">1</td>
        <td class="-cell"></td>
        <td class="Licenciados-cell">0</td>
        <td class="-cell"></td>
        <td class="Presbíteros-cell">9</td>
        <td class="-cell"></td>
        <td class="Diáconos-cell">14</td>
        <td class="-cell"></td>
        <td class="Evangelistas-cell">1</td>
        <td class="-cell"></td>
        <td class="Missionários-cell">0</td>
        <td class="-cell"></td>
        <td class="Candidatos-cell">2</td>
        <td class="-cell"></td>
        <td class="Igrejas-cell">1</td>
        <td class="-cell"></td>
        <td class="Congreg. de Igrejas-cell">3</td>
        <td class="-cell"></td>
        <td class="Pontos de Pregação-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Escolas Dom.-cell">4</td>
        <td class="-cell"></td>
        <td class="N.º Prof. da ED-cell">24</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Atual-cell">362</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Anter.-cell">378</td>
        <td class="-cell"></td>
        <td class="Variação Percentual-cell">-4,2%</td>
        <td class="-cell"></td>
        <td class="Congreg. Presbiteriais-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Educandários-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Alunos Educ.-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Creches-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Crianças-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Pessoas-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º UCPs-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UCP-cell">17</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UPA-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPA-cell">7</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UMP-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UMP-cell">14</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º SAF -cell">2</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócias SAF-cell">41</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="UPH-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPH-cell">24</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Total  de Sociedades-cell">6</td>
        <td class="-cell"></td>
        <td class="Total de Sócios-cell">103</td>
        <td class="-cell"></td>
    </tr>
    <tr>
        <td class="Igrejas-cell">IP ESPIGÃO</td>
        <td class="Pastores-cell">1</td>
        <td class="-cell"></td>
        <td class="Licenciados-cell">0</td>
        <td class="-cell"></td>
        <td class="Presbíteros-cell">4</td>
        <td class="-cell"></td>
        <td class="Diáconos-cell">4</td>
        <td class="-cell"></td>
        <td class="Evangelistas-cell">0</td>
        <td class="-cell"></td>
        <td class="Missionários-cell">0</td>
        <td class="-cell"></td>
        <td class="Candidatos-cell">0</td>
        <td class="-cell"></td>
        <td class="Igrejas-cell">1</td>
        <td class="-cell"></td>
        <td class="Congreg. de Igrejas-cell">1</td>
        <td class="-cell"></td>
        <td class="Pontos de Pregação-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Escolas Dom.-cell">2</td>
        <td class="-cell"></td>
        <td class="N.º Prof. da ED-cell">10</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Atual-cell">67</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Anter.-cell">67</td>
        <td class="-cell"></td>
        <td class="Variação Percentual-cell">0,0%</td>
        <td class="-cell"></td>
        <td class="Congreg. Presbiteriais-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Educandários-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Alunos Educ.-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Creches-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Crianças-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Pessoas-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º UCPs-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UCP-cell">9</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UPA-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPA-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UMP-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UMP-cell">11</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º SAF -cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócias SAF-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="UPH-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPH-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Total  de Sociedades-cell">2</td>
        <td class="-cell"></td>
        <td class="Total de Sócios-cell">20</td>
        <td class="-cell"></td>
    </tr>
    <tr>
        <td class="Igrejas-cell">IP PIMENTA BUENO</td>
        <td class="Pastores-cell">1</td>
        <td class="-cell"></td>
        <td class="Licenciados-cell">0</td>
        <td class="-cell"></td>
        <td class="Presbíteros-cell">2</td>
        <td class="-cell"></td>
        <td class="Diáconos-cell">3</td>
        <td class="-cell"></td>
        <td class="Evangelistas-cell">0</td>
        <td class="-cell"></td>
        <td class="Missionários-cell">0</td>
        <td class="-cell"></td>
        <td class="Candidatos-cell">0</td>
        <td class="-cell"></td>
        <td class="Igrejas-cell">1</td>
        <td class="-cell"></td>
        <td class="Congreg. de Igrejas-cell">1</td>
        <td class="-cell"></td>
        <td class="Pontos de Pregação-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Escolas Dom.-cell">2</td>
        <td class="-cell"></td>
        <td class="N.º Prof. da ED-cell">17</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Atual-cell">109</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Anter.-cell">81</td>
        <td class="-cell"></td>
        <td class="Variação Percentual-cell">34,6%</td>
        <td class="-cell"></td>
        <td class="Congreg. Presbiteriais-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Educandários-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Alunos Educ.-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Creches-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Crianças-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Pessoas-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º UCPs-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UCP-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UPA-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPA-cell">11</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UMP-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UMP-cell">19</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º SAF -cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócias SAF-cell">13</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="UPH-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPH-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Total  de Sociedades-cell">3</td>
        <td class="-cell"></td>
        <td class="Total de Sócios-cell">43</td>
        <td class="-cell"></td>
    </tr>
    <tr>
        <td class="Igrejas-cell">IP ROLIM DE MOURA</td>
        <td class="Pastores-cell">2</td>
        <td class="-cell"></td>
        <td class="Licenciados-cell">0</td>
        <td class="-cell"></td>
        <td class="Presbíteros-cell">4</td>
        <td class="-cell"></td>
        <td class="Diáconos-cell">8</td>
        <td class="-cell"></td>
        <td class="Evangelistas-cell">1</td>
        <td class="-cell"></td>
        <td class="Missionários-cell">0</td>
        <td class="-cell"></td>
        <td class="Candidatos-cell">0</td>
        <td class="-cell"></td>
        <td class="Igrejas-cell">1</td>
        <td class="-cell"></td>
        <td class="Congreg. de Igrejas-cell">6</td>
        <td class="-cell"></td>
        <td class="Pontos de Pregação-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Escolas Dom.-cell">6</td>
        <td class="-cell"></td>
        <td class="N.º Prof. da ED-cell">55</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Atual-cell">300</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Anter.-cell">280</td>
        <td class="-cell"></td>
        <td class="Variação Percentual-cell">7,1%</td>
        <td class="-cell"></td>
        <td class="Congreg. Presbiteriais-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Educandários-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Alunos Educ.-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Creches-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Crianças-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Pessoas-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º UCPs-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UCP-cell">12</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UPA-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPA-cell">10</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UMP-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UMP-cell">10</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º SAF -cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócias SAF-cell">24</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="UPH-cell">1</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPH-cell">14</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">2</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios Outros-cell">10</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Total  de Sociedades-cell">7</td>
        <td class="-cell"></td>
        <td class="Total de Sócios-cell">80</td>
        <td class="-cell"></td>
    </tr>
    <tr class="lastRow">
        <td class="Igrejas-cell">Total geral</td>
        <td class="Pastores-cell">6</td>
        <td class="-cell"></td>
        <td class="Licenciados-cell">0</td>
        <td class="-cell"></td>
        <td class="Presbíteros-cell">23</td>
        <td class="-cell"></td>
        <td class="Diáconos-cell">33</td>
        <td class="-cell"></td>
        <td class="Evangelistas-cell">3</td>
        <td class="-cell"></td>
        <td class="Missionários-cell">0</td>
        <td class="-cell"></td>
        <td class="Candidatos-cell">2</td>
        <td class="-cell"></td>
        <td class="Igrejas-cell">5</td>
        <td class="-cell"></td>
        <td class="Congreg. de Igrejas-cell">12</td>
        <td class="-cell"></td>
        <td class="Pontos de Pregação-cell">3</td>
        <td class="-cell"></td>
        <td class="N.º Escolas Dom.-cell">17</td>
        <td class="-cell"></td>
        <td class="N.º Prof. da ED-cell">119</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Atual-cell">962</td>
        <td class="-cell"></td>
        <td class="N.º Alunos ED - Anter.-cell">933</td>
        <td class="-cell"></td>
        <td class="Variação Percentual-cell">3,1%</td>
        <td class="-cell"></td>
        <td class="Congreg. Presbiteriais-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Educandários-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Alunos Educ.-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Creches-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Crianças-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º de Pessoas-cell">0</td>
        <td class="-cell"></td>
        <td class="N.º UCPs-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UCP-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UPA-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPA-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º UMP-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UMP-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º SAF -cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócias SAF-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="UPH-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios UPH-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="N.º Outros-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Sócios Outros-cell">#REF!</td>
        <td class="-cell"></td>
        <td class="-cell"></td>
        <td class="Total  de Sociedades-cell">24</td>
        <td class="-cell"></td>
        <td class="Total de Sócios-cell">296</td>
        <td class="-cell"></td>
    </tr>
    </tbody>
</table>
</body>
</html>