extends layouts/_layout.pug

block content
    div.ui.segment
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="inicio")
                    i.home.icon
                div.divider /
                a.section Configurações
                div.divider /
                div.active.section Administrar Usuário

        div.ui.clearing

        h2.ui.floated.header
            | Administrar Usuário
            div.sub.header
                | Criar novos usuários ou configurar os existentes.

        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item.active(data-tab="first") Gerenciar Usuário
            a.item(data-tab="second") Cadastrar Usuário

        div.ui.bottom.attached.tab.segment.active(data-tab="first")
            table.ui.compact.selectable.celled.unstackable.table(id="tableUsuarios")
                thead
                    tr
                        th.one.wide Código
                        th.five.wide Nome
                        th.four.wide E-Mail
                        th.three.wide Perfil
                        th.two.wide Nível
                        th.one.wide(style="text-align: center;", data-tooltip="Representa se o usuário esta Ativo ou Inativo") Status

                tbody(id="tbodyUsuarios")

        div.ui.bottom.attached.tab.segment(data-tab="second")
            div.ui.form.segment
                form(id="formUsuarios", name="formUsuarios")
                    | @csrf
                    div.fields
                        div.eight.wide.field
                            label Sínodo
                            select.ui.fluid.search.dropdown(name="id_sinodo")
                                option

                        div.eight.wide.field(id="div_presbiterio")
                            label Presbitério
                            select.ui.fluid.search.dropdown(name="id_presbiterio")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_presbiterio")

                    div.fields
                        div.eight.wide.field(id="div_igreja")
                            label Igreja
                            select.ui.fluid.search.dropdown(name="id_igreja")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_igreja")

                        div.eight.wide.field(id="div_presbitero")
                            label Presbítero
                            select.ui.fluid.search.dropdown(name="id_presbitero")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_presbitero")

                    div.fields
                        div.seven.wide.field.required
                            label Nome
                            input(type="text", name="nome")

                        #femail.six.wide.field.required
                            label E-Mail
                            input(type="email", name="email")

                        #fcpf.three.wide.field.required
                            label CPF
                            input(type="text", name="cpf")

                    div.fields
                        div.five.wide.field
                            label(for="sstatus") Status do Usuário
                            select.ui.fluid.dropdown(name="status" id="sstatus")
                                option
                                option(value="1") Ativo
                                option(value="0") Inativo

                        div.five.wide.field
                            label(for="snivel") Nível
                            select.ui.fluid.dropdown(name="nivel" id="snivel")
                                option
                                option(value="0") Comum
                                option(value="1") Superior

                        div.six.wide.field
                            label(for="sperfil") Perfil
                            select.ui.fluid.dropdown(name="perfil" id="sperfil")
                                option
                                option(value="1") Secretário da Igreja
                                option(value="2") Secretário do Presbitério
                                option(value="3") Secretário do Sínodo
                                option(value="4") Secretário do Supremo
                                option(value="5") Supervisão Geral

                    div.fields
                        div.sixteen.wide.field
                            label Observações
                            textarea(rows="3", name="observacoes")

                    div.ui.segments
                        div.ui.horizontal.segments
                            div.ui.segment
                                span(style="color: lightslategray;")
                                    strong Usuário inclusão:
                                span(style="color: lightslategray;")
                                    | &nbsp;
                                    span(id="user_inc")
                                    | &nbsp;
                                span(style="float: right;color: lightslategray;")
                                    strong Data:
                                    | &nbsp;
                                    span(id="data_inc")

                            div.ui.segment
                                span(style="color: lightslategray;")
                                    strong Última alteração:
                                span(style="color: lightslategray;")
                                    | &nbsp;
                                    span(id="user_alt")
                                    | &nbsp;
                                span(style="float: right;color: lightslategray;")
                                    strong Data:
                                    | &nbsp;
                                    span(id="data_alt")

                    div.ui.clearing.divider

                    div(style="text-align: center")
                        button.ui.green.labeled.icon.button(type="submit", style="min-width: 166px")
                            i.plus.icon
                            | Salvar
                        button.ui.blue.right.labeled.icon.button(type="reset", style="min-width: 166px")
                            i.child.icon
                            | Novo
                        //button.ui.yellow.labeled.icon.button(type="button")
                            i.redo.icon
                            | Resetar senha

                        button.ui.red.right.labeled.icon.button(type="submit", form="formDelete", style="min-width: 166px")
                            i.remove.icon
                            | Excluir

                form(id="formDelete", name="formDelete", method="post")
                    | @csrf
                    | @method("delete")

block specific-js
    script(src='js/app/jquery-validate-app.js')
    script(src="js/plugins/bootstrap-datepicker.min.js")
    script(src="js/plugins/bootstrap-datepicker.pt-BR.min.js")
    script(src="js/plugins/dataTables.min.js")
    script(src="js/plugins/sweetalert.min.js")
    script(src="js/plugins/jquery.mask.min.js")
    script(src="js/CPF.js")
    script(src="js/app/administrar-usuarios-app.js")
    script(type='text/javascript').
        window.userName = "{{ ucwords(auth()->user()->nome) }}";
    | @if(session('deleted'))
    script(type='text/javascript').
        iziToast.success({
            title: 'Sucesso!',
            message: 'O registro foi excluido com sucesso!',
            timeout: 5000,
            pauseOnHover: true,
            position: 'topRight',
            transitionIn: 'fadeInDown',
            transitionOut: 'fadeOutUp'
        });
    | @endif
    | @if($errors->any())
    script(type='text/javascript').
        iziToast.warning({
            title: 'Atenção! ',
            message: 'Houve um erro durante o processamento, por favor recarregue a página e tente novamente!',
            timeout: 10000,
            pauseOnHover: true,
            position: 'topRight',
            transitionIn: 'fadeInDown',
            transitionOut: 'fadeOutUp'
        });
    | @endif
    | @if(session('email'))
    script(type='text/javascript').
        swal("Atenção!", "O usuário foi cadastrado, porém não podemos enviar o e-mail com a confirmação da senha, " +
            "por favor, peça para o usuário acessar o link de recuperação de senha a partir da tela de login.!",
            "info");
    | @endif

