extends layouts/_layout.pug

block content
    div.ui.segment
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="inicio")
                    i.home.icon
                div.divider /
                a.section Configurações
                div.divider /
                div.active.section Administrar Usuário

        div.ui.clearing

        h2.ui.floated.header
            | Administrar Usuário
            div.sub.header
                | Administre os usuários de nível inferior

        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item.active(data-tab="first") Gerenciar Usuário
            a.item(data-tab="second") Cadastrar Usuário

        div.ui.bottom.attached.tab.segment.active(data-tab="first")
            table.ui.compact.selectable.celled.unstackable.table
                thead
                    tr
                        th.one.wide Código
                        th.five.wide Usuário
                        th.four.wide E-Mail
                        th.three.wide Perfil
                        th.two.wide Nível
                        th.one.wide Status

                tbody
                    tr
                        td 01
                        td Antônio José
                        td antonio@jksistemas.com.br
                        td Secretário Supremo
                        td Supremo
                        td(style="text-align: center;" data-tooltip="Status atual do usuário")
                            i.ban.icon.red

                    tr
                        td 02
                        td João Augusto da Silva
                        td august@jksistemas.com.br
                        td Secretário da Igreja
                        td Comum
                        td(style="text-align: center;" data-tooltip="Status atual do usuário")
                            i.check.icon.green




        div.ui.bottom.attached.tab.segment(data-tab="second")
            div.ui.form.segment
                div.fields
                    div.two.wide.field
                        label Status do Usuário
                        select.ui.fluid.search.dropdown
                            option
                            option Ativo
                            option Inativo
                    div.six.wide.field
                        label Nome
                        input(type="text")
                    div.five.wide.field
                        label E-Mail
                        input(type="email")
                    div.three.wide.field
                        label CPF
                        input(type="text")
                div.fields
                    div.eight.wide.field
                        label Sínodo
                        select.ui.fluid.search.dropdown.disabled
                            option Sínodo Noroeste do Brasil
                            option Norte Presbitério
                            option Centro Presbitério
                    div.eight.wide.field
                        label Presbitério
                        select.ui.fluid.search.dropdown.disabled
                            option Presbitério Sul de Rondônia
                            option Norte Presbitério
                            option Centro Presbitério
                div.fields
                    div.five.wide.field
                        label Igreja
                        select.ui.fluid.search.dropdown.disabled
                            option 1ª Igreja de Cacoal
                            option Norte Presbitério
                            option Centro Presbitério
                    div.two.wide.field
                        label Nível
                        select.ui.fluid.search.dropdown
                            option Comum
                            option Superior
                    div.four.wide.field
                        label Perfil
                        select.ui.fluid.search.dropdown
                            option Secretário da Igreja
                            option Secretário do Presbitério
                            option Secretário do Sínodo
                            option Secretário do Supremo
                            option Supervisão Geral
                    div.five.wide.field
                        label Presbítero
                        input(type="text")



                div.ui.segments
                    div.ui.segment(style="text-align: center; background-color: #F9FAFB")
                        p
                            strong INFORMAÇÕES SOBRE O PREENCHIMENTO

                    div.ui.horizontal.segments
                        div.ui.segment
                            span
                                strong Usuário cadastrado por:
                            span
                                | &nbsp;
                                | Kallew Pavão
                                | &nbsp;
                            span(style="float: right;")
                                strong Data:
                                | &nbsp;
                                | 01/01/2018

                        div.ui.segment
                            span
                                strong Última alteração:
                            span
                                | &nbsp;
                                | Kallew Pavão
                                | &nbsp;
                            span(style="float: right;")
                                strong Data:
                                | &nbsp;
                                | 09/01/2018




                div.ui.clearing.divider

                div(style="text-align: center")
                    button.ui.green.labeled.icon.button(type="submit")
                        i.plus.icon
                        | Gravar


                    button.ui.yellow.right.labeled.icon.button(type="button")
                        i.redo.icon
                        | Alterar Status















block specific-js
    script(src='js/app/jquery-validate-app.js')
    script(src="js/plugins/bootstrap-datepicker.min.js")
    script(src="js/plugins/bootstrap-datepicker.pt-BR.min.js")
    script(src="js/plugins/dataTables.min.js")
    script(src="js/plugins/sweetalert.min.js")
    script(src="js/app/administrar-usuarios-app.js")
