extends layouts/_layout.pug

block content
    div.ui.segment
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="index.html")
                    i.home.icon
                div.divider /
                a.section Cadastros
                div.divider /
                div.active.section Igrejas

        div.ui.clearing

        h2.ui.floated.header
            | Cadastro de Igrejas
            div.sub.header
                | Igrejas pertencentes aos presbitério. -> breve explicação da tela


        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item.active(data-tab="first") Igrejas
            a.item(data-tab="second") Cadastrar
            a.item(data-tab="third") Congregação
        div.ui.bottom.attached.tab.segment.active(data-tab="first")
            table.ui.compact.selectable.celled.green.table(id="tbl_igrejas")
                thead
                    tr
                        th.one.wide Código
                        th.ten.wide Nome
                        th.two.wide.center.aligned Presbitério
                        th.two.wide.center.aligned Sínodo
                tbody(id="tbody_igrejas")
                    tr
                        td.center.aligned 01
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 02
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 03
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 04
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 05
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 06
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 07
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned ZPA
                    tr
                        td.center.aligned 08
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned IYN
                    tr
                        td.center.aligned 09
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned QRW
                    tr
                        td.center.aligned 10
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 11
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 12
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SBC
                    tr
                        td.center.aligned 13
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned SCA
                    tr
                        td.center.aligned 14
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned STS
                    tr
                        td.center.aligned 15
                        td Presbiteriana Luz e Vida
                        td.center.aligned PRON
                        td.center.aligned OAS

        div.ui.bottom.attached.tab.segment(data-tab="second")
            form(id="cadastros_igrejas", name="cadastros_igrejas")
                div.ui.form
                    div.fields
                        div.six.wide.field
                            label Sínodo
                            select.ui.fluid.search.selection.dropdown
                                option
                                option Sinodo
                                option Binodo
                                option Cinodo
                        div.four.wide.field
                            label Estado
                            select.ui.fluid.search.dropdown
                                option
                                option Estado
                                option Estado
                                option Estado
                        div.six.wide.field
                            label Cidade
                            select.ui.fluid.search.dropdown
                                option
                                option Cidade
                                option Cidade
                                option Cidade
                    div.fields
                        div.ten.wide.field
                            label Nome
                            input(type="text", name="nome" placeholder="Digite seu Nome")
                        div.three.wide.field
                            label CNPJ
                            input(type="text" name="cnpj" placeholder="CNPJ")
                        div.ui.calendar.bottom.left.three.wide.field
                            label Organização
                            input.datepicker2(type="text" name="data_organizacao" placeholder="Data de Organização")
                    div.fields
                        div.six.wide.field
                            label Endereço
                            input(type="text" name="endereco" placeholder="Endereço")
                        div.two.wide.field
                            label Número
                            input(type="text" name="endereco_nr" placeholder="Número")
                        div.four.wide.field
                            label Complemento
                            input(type="text" name="endereco_complemento" placeholder="Complemento")
                        div.four.wide.field
                            label Bairro
                            input(type="text" name="endereco_bairro" placeholder="Bairro")
                    div.fields
                        div.eight.wide.field
                            label E-mail
                            input(type="email" name="email" placeholder="E-Mail")
                        div.eight.wide.field
                            label Homepage
                            input(type="url" name="website" placeholder="Web Site")

                div(style="text-align: center")
                    button.ui.green.labeled.icon.button(type="submit")
                        i.plus.icon
                        | Gravar

                    button.ui.reset.button(type="reset")
                        i.minus.icon
                        | Limpar

                    button.ui.red.right.labeled.icon.button(type="button")
                        i.remove.icon
                        | Excluir

        div.ui.bottom.attached.tab.segment(data-tab="third")
            form(id="cadastros_congregacoes", name="cadastros_congregacoes")
                div.ui.form
                    div.fields
                        div.eight.wide.disabled.field
                            label Sínodo
                            select.ui.fluid.search.dropdown
                                option Sinodo
                                option Sinodo
                                option Sinodo
                        div.eight.wide.disabled.field
                            label Igreja
                            select.ui.fluid.search.dropdown
                                option Sinodo
                                option Sinodo
                                option Sinodo
                    div.fields
                        div.eight.wide.field
                            label Estado
                            select.ui.fluid.search.dropdown
                                option
                                option Estado
                                option Estado
                                option Estado
                        div.eight.wide.field
                            label Cidade
                            select.ui.fluid.search.dropdown
                                option
                                option Cidade
                                option Cidade
                                option Cidade
                    div.fields
                        div.ten.wide.field
                            label Nome
                            input(type="text", name="nome" placeholder="Digite seu Nome")
                        div.three.wide.field
                            label CNPJ
                            input(type="text" name="cnpj" placeholder="CNPJ")
                        div.ui.calendar.bottom.left.three.wide.field
                            label Organização
                            input.datepicker2(type="text" name="data_organizacao" placeholder="Data de Organização")
                    div.fields
                        div.six.wide.field
                            label Endereço
                            input(type="text" name="endereco" placeholder="Endereço")
                        div.two.wide.field
                            label Número
                            input(type="text" name="endereco_nr" placeholder="Número")
                        div.four.wide.field
                            label Complemento
                            input(type="text" name="endereco_complemento" placeholder="Complemento")
                        div.four.wide.field
                            label Bairro
                            input(type="text" name="endereco_bairro" placeholder="Bairro")
                    div.fields
                        div.eight.wide.field
                            label E-mail
                            input(type="email" name="email" placeholder="E-Mail")
                        div.eight.wide.field
                            label Homepage
                            input(type="url" name="website" placeholder="Web Site")
                div(style="text-align: center")
                    button.ui.green.labeled.icon.button(type="submit")
                        i.plus.icon
                        | Gravar

                    button.ui.reset.button(type="reset")
                        i.minus.icon
                        | Limpar

                    button.ui.red.right.labeled.icon.button(type="button")
                        i.remove.icon
                        | Excluir

block specific-js
    script(src='js/app/jquery-validate-app.js')
    script(src="js/plugins/bootstrap-datepicker.min.js")
    script(src="js/plugins/bootstrap-datepicker.pt-BR.min.js")
    script(src="js/plugins/dataTables.min.js")
    script(src="js/plugins/sweetalert.min.js")
    script(src="js/app/cadastros-igrejas-app.js")