extends layouts/_layout.pug

block content
    div.ui.segment
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="inicio")
                    i.home.icon
                div.divider /
                a.section Cadastros
                div.divider /
                div.active.section Igrejas

        div.ui.clearing

        h2.ui.floated.header
            | Cadastro de Ministros
            div.sub.header
                | Cadastre um Ministro. -> breve explicação da tela


        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item.active(data-tab="first") Minístros
            a.item(data-tab="second") Cadastrar
        div.ui.bottom.attached.tab.segment.active(data-tab="first")
            table.ui.compact.selectable.celled.green.table(id="tbl_presbiteros")
                thead
                    tr
                        th.one.wide Código
                        th.six.wide Nome
                        th.five.wide Igreja
                        th.two.wide.center.aligned Sínodo
                        th.two.wide.center.aligned Presbitério
                tbody(id="tbody_presbiteros")


        div.ui.bottom.attached.tab.segment(data-tab="second")
            form(id="cadastros_presbiteros", name="cadastros_presbiteros")
                | @csrf
                div.ui.form
                    div.fields
                        div.six.wide.field
                            label Sínodo
                            select.ui.fluid.search.dropdown(name="id_sinodo")
                                option

                        div.six.wide.field(id="div_presbiterio")
                            label Presbitério
                            select.ui.fluid.search.dropdown(name="id_presbiterio", id="id_presbiterio")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_presbiterio")

                        div.six.wide.field
                            label Igreja
                            select.ui.fluid.search.dropdown(name="id_igreja")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_igreja")

                    div.fields
                        div.sixteen.wide.field
                            label Nome
                            input(type="text", name="nome" placeholder="Digite seu Nome")
                    div.fields
                        div.eight.wide.field
                            label Nome do Pai
                            input(type="text", name="nome_pai" placeholder="Nome do Pai")
                        div.eight.wide.field
                            label Nome da Mãe
                            input(type="text", name="nome_mae" placeholder="Nome da Mãe")
                    div.fields
                        div.ui.calendar.bottom.left.three.wide.field
                            label Data de Nascimento
                            input(type="date" name="nascimento_data" placeholder="Data de Nascimento")
                        div.four.wide.field(data-toolip="Estado em que nasceu")
                            label Estado
                            select.ui.fluid.search.dropdown(name="nascimento_id_estado")

                        div.five.wide.field(id="div_cidade")
                            label Cidade
                            select.ui.fluid.search.dropdown(name="nascimento_id_cidade", id="nascimento_id_cidade")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_cidade")
                        div.four.wide.field
                            label Nacionalidade
                            input(type="text", name="nacionalidade" placeholder="Nacionalidade")

                    div.fields
                        div.four.wide.field
                            label RG
                            input(type="text", name="rg" placeholder="RG")
                        div.four.wide.field
                            label Orgão Emissor
                            input(type="text", name="rg_emissor" placeholder="Orgão Emissor")
                        div.four.wide.field
                            label CPF
                            input(type="text", name="cpf" placeholder="CPF")
                        div.five.wide.field
                            label Estado Civil
                            select.ui.fluid.search.dropdown(name="estado_civil")
                                option(value="1") Casado
                                option(value="2") Solteiro
                                option(value="3") Viúvo
                                option(value="4") Separado
                    div.fields
                        div.twelve.wide.field
                            label Cônjuge
                            input(type="text", name="conjuge_nome" placeholder="Cônjuge")
                        div.ui.calendar.bottom.left.four.wide.field
                            label Data de Nascimento
                            input(type="date" name="conjuge_nascimento" placeholder="Data de Nascimento do Cônjuge")
                    div.fields
                        div.sixteen.wide.field
                            label Nome dos Dependentes
                            input(type="text", name="nome_filhos" placeholder="Nome dos Dependentes. OSB. use ; para separar os nomes")

                    div.fields
                        div.six.wide.field
                            label Endereço
                            input(type="text" name="endereco" placeholder="Endereço")
                        div.two.wide.field
                            label Número
                            input(type="text" name="endereco_nr" placeholder="Número")
                        div.four.wide.field
                            label Complemento
                            input(type="text" name="endereco_complemento" placeholder="Complemento")
                        div.four.wide.field
                            label Bairro
                            input(type="text" name="endereco_bairro" placeholder="Bairro")
                    div.fields
                        div.four.wide.field
                            label Estado
                            select.ui.fluid.search.dropdown(name="endereco_id_estado")

                        div.five.wide.field(id="div_cidade")
                            label Cidade
                            select.ui.fluid.search.dropdown(name="endereco_id_cidade", id="endereco_id_cidade")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_cidade")

                        div.two.wide.field
                            label CEP
                            input(type="text", name="cep" placeholder="CEP")
                        div.two.wide.field
                            label Cx. Postal
                            input(type="text", name="cx_postal" placeholder="Caixa Postal")
                        div.three.wide.field
                            label CEP Cx. Postal
                            input(type="text", name="cx_postal_cep" placeholder="CEP Cx. Postal")
                    div.fields
                        div.three.wide.field
                            label Celular
                            input(type="text", name="celular" placeholder="Celular")
                        div.three.wide.field
                            label Telefone Fixo
                            input(type="text", name="telefone" placeholder="Telefone Fixo")
                        div.ten.wide.field
                            label E-mail
                            input(type="email" name="email" placeholder="E-Mail")


                    //div.fields
                        div.two.wide.field
                            label Teste
                            input(type="text", name="id_igreja", value="1")
                        div.two.wide.field
                            label Teste
                            input(type="text", name="nacionalidade", value="1")
                        div.two.wide.field
                            label Teste
                            input(type="text", name="tipo", value="2")

                div.ui.segments
                    div.ui.horizontal.segments
                        div.ui.segment
                            span(style="color: lightslategray;")
                                strong Usuário inclusão:
                            span(style="color: lightslategray;")
                                | &nbsp;
                                span(id="user_inc")
                                | &nbsp;
                            span(style="float: right;color: lightslategray;")
                                strong Data:
                                | &nbsp;
                                span(id="data_inc")

                        //div.ui.segment
                            span(style="color: lightslategray;")
                                strong Última alteração:
                            span(style="color: lightslategray;")
                                | &nbsp;
                                span(id="user_alt")
                                | &nbsp;
                            span(style="float: right;color: lightslategray;")
                                strong Data:
                                | &nbsp;
                                span(id="data_alt")

                div.ui.clearing.divider

                div(style="text-align: center")
                    button.ui.green.labeled.icon.button(type="submit")
                        i.plus.icon
                        | Gravar

                    button.ui.reset.button(type="reset")
                        i.minus.icon
                        | Limpar

                    button.ui.red.right.labeled.icon.button(type="button")
                        i.remove.icon
                        | Excluir
                        

block specific-js
    script(src='js/app/jquery-validate-app.js')
    script(src="js/plugins/bootstrap-datepicker.min.js")
    script(src="js/plugins/bootstrap-datepicker.pt-BR.min.js")
    script(src="js/plugins/dataTables.min.js")
    script(src="js/plugins/sweetalert.min.js")
    script(src="js/app/cadastros-presbiteros-app.js")