extends layouts/_layout.pug

block content
    div.ui.segment
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="inicio")
                    i.home.icon
                div.divider /
                a.section Relatórios
                div.divider /
                div.active.section Conselho

        div.ui.clearing

        h2.ui.floated.header
            | Consultar Estatísticas do Presbitério
            div.sub.header
                | Consulta a estatística unificada das igrejas do presbitério. -> breve explicação da tela

        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item.active(data-tab="first") Total Geral
            a.item(data-tab="second") IP Cacoal

        div.ui.bottom.attached.tab.segment.active(data-tab="first")
            div.ui.segments
                div.ui.teal.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        div.ui.header
                            strong CONSULTA UNIFICADA DOS RELATÓRIOS DAS IGREJAS DO PRESBITÉRIO

                    table.ui.compact.selectable.celled.striped.table
                        thead
                            tr
                                th.five.wide
                                th.five.wide Total

                        tbody
                            tr
                                td
                                    label Pastores
                                td
                                    label 0
                            tr
                                td
                                    label Licenciados
                                td
                                    label 0
                            tr
                                td
                                    label Presbíteros
                                td
                                    label 0
                            tr
                                td
                                    label Diáconos
                                td
                                    label 0
                            tr
                                td
                                    label Evangelistas
                                td
                                    label 0
                            tr
                                td
                                    label Missionários
                                td
                                    label 0
                            tr
                                td
                                    label Candidatos
                                td
                                    label 0
                            tr
                                td
                                    label Igrejas
                                td
                                    label 0
                            tr
                                td
                                    label Congreg. de Igrejas
                                td
                                    label 0
                            tr
                                td
                                    label Pontos de Pregação
                                td
                                    label 0
                            tr
                                td
                                    label N.º Escolas Dom.
                                td
                                    label 0
                            tr
                                td
                                    label N.º Prof. da ED
                                td
                                    label 0
                            tr
                                td
                                    label N.º Alunos ED - Anterior
                                td
                                    label 0
                            tr
                                td
                                    label N.º Alunos ED - Atual.
                                td
                                    label 0
                            tr
                                td
                                    label Variação Percentual
                                td
                                    label 0
                            tr
                                td
                                    label Congreg. Presbiteriais
                                td
                                    label 0
                            tr
                                td
                                    label N.º de Educandários
                                td
                                    label 0
                            tr
                                td
                                    label N.º de Alunos Educ.
                                td
                                    label 0
                            tr
                                td
                                    label N.º de Creches
                                td
                                    label 0
                            tr
                                td
                                    label N.º de Crianças
                                td
                                    label 0
                            tr
                                td
                                    label N.º Outros
                                td
                                    label 0
                            tr
                                td
                                    label N.º de Pessoas
                                td
                                    label 0
                            tr
                                td
                                    label N.º UCPs
                                td
                                    label 0
                            tr
                                td
                                    label Sócios UCP
                                td
                                    label 0
                            tr
                                td
                                    label N.º UPA
                                td
                                    label 0
                            tr
                                td
                                    label Sócios UPA
                                td
                                    label 0
                            tr
                                td
                                    label N.º UMP
                                td
                                    label 0
                            tr
                                td
                                    label Sócios UMP
                                td
                                    label 0
                            tr
                                td
                                    label N.º SAF
                                td
                                    label 0
                            tr
                                td
                                    label Sócias SAF
                                td
                                    label 0
                            tr
                                td
                                    label  UPH
                                td
                                    label 0
                            tr
                                td
                                    label Sócios UPH
                                td
                                    label 0
                            tr
                                td
                                    label N.º Outros
                                td
                                    label 0
                            tr
                                td
                                    label Sócios Outros
                                td
                                    label 0
                            tr
                                td
                                    label Total  de Sociedades
                                td
                                    label 0
                            tr
                                td
                                    label Total de Sócios
                                td
                                    label 0


        div.ui.bottom.attached.tab.segment(data-tab="second")
            div.fields
                div.sixteen.wide.field
                    h4 Informações para adicionar






block specific-js
    script(src='js/app/jquery-validate-app.js')
    script(src="js/plugins/bootstrap-datepicker.min.js")
    script(src="js/plugins/bootstrap-datepicker.pt-BR.min.js")
    script(src="js/plugins/dataTables.min.js")
    script(src="js/plugins/sweetalert.min.js")
    script(src="js/app/consultar-estatisticas-presbiterio-app.js")