extends layouts/_layout.pug

block variables
    - var activePage = 'dashboard'
    - var activeGroup = 'none'

block content
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    div
        h1 Hello World!


block specific-js
    script(type='text/javascript', src="js/plugins/chart.js")
    //script(type='text/javascript').
        console.log("ok");