doctype html
html
    head
        include includes/_head.pug
    
        style
            | body {
            |    background-color: #DADADA;
            | }
            | body > .grid {
            |   height: 100%;
            | }
            | .image {
            | margin-top: -100px;
            | }
            | .column {
            |   max-width: 450px;
            | }
        

    body.ui.container
        div.ui.middle.aligned.center.aligned.grid
            div.column
                h2.ui.teal.image.header
                    img.image(src="images/ipb_logo.png")
                    div.content
                        | InformativoIPB
                form.ui.large.form(name="form_login", id="form_login")
                    div.ui.stacked.segment
                        div.field
                            div.ui.left.icon.input
                                i.user.icon
                                input(type="text", name="email", placeholder="Insira seu e-mail")
                        div.field
                            div.ui.left.icon.input
                                i.lock.icon
                                input(type="password", name="password", placeholder="Insira sua senha")
                        div.ui.fluid.large.teal.submit.button
                            | Conectar

                    div.ui.error.message

                div.ui.error.message(style="text-align:left;display:none;", id="msg_login_error")
                    i.close.icon
                    div.header
                        | Algo de errado não esta certo!
                    ul.list
                        li(id="msg_error")

                div.ui.message
                    | Esqueceu a senha? 
                    a(href="#", id="give_pass") Clique Aqui!

    include includes/_javascript.pug
        script(type="text/javascript", src="js/plugins/sweetalert.min.js")
        script(type="text/javascript").
            $(document)
                .ready(function () {
                    $('.ui.form')
                        .form({
                            fields: {
                                email: {
                                    identifier: 'email',
                                    rules: [
                                        {
                                            type: 'empty',
                                            prompt: 'Por favor, insira o seu e-mail'
                                        },
                                        {
                                            type: 'email',
                                            prompt: 'Por favor, insira uma conta de e-mail válida'
                                        }
                                    ]
                                },
                                password: {
                                    identifier: 'password',
                                    rules: [
                                        {
                                            type: 'empty',
                                            prompt: 'Por favor, entre com sua senha'
                                        },
                                        {
                                            type: 'length[6]',
                                            prompt: 'Sua senha deve ter mais que 6 caracteres'
                                        }
                                    ]
                                }
                            },
                            onSuccess: function () {
                                let email = form_login.email.value;
                                let senha = form_login.email.value;
                                if (email === 'admin@jksistemas.com.br') {
                                    if (senha === 'adminadmin') {
                                        document.location.href = '/index.html';
                                    } else {
                                        $("#msg_error").text("Por favor verifique sua senha");
                                        $("#msg_login_error").show();
                                    }
                                } else {
                                    $("#msg_error").text("Por favor verifique seu login");
                                    $("#msg_login_error").show();
                                }
                            }
                        })
                    ;
                    $("#give_pass").click(function () {
                        swal({
                            title: "Esqueceu a senha?",
                            text: "Informe o endereço de e-mail vinculado a conta para que seja enviado um link de redefinição de senha.",
                            icon: "info",
                            content: {
                                element: "input",
                                attributes: {
                                    placeholder: "Digite aqui o seu e-mail!",
                                    type: "email",
                                    required: true
                                }
                            },
                            buttons: {
                                cancel: true,
                                confirm: true
                            },
                            closeOnClickOutside: false
                        });
                    });
                    $('.message .close')
                        .on('click', function () {
                            $(this)
                                .closest('.message')
                                .transition('fade')
                            ;
                        })
                    ;
                })
            ;