doctype html
html
    head
        include includes/_head.pug

    body.ui.container(style="background-color: #DADADA;")
        div.ui.middle.aligned.center.aligned.grid
            div.column
                div.ui.error.massive.message
                    div.header
                        h1
                            i.fa.fa-exclamation-circle
                            |  Erro 404
                    p A página que você requisitou não existe.
                    p
                    div(style="align:center")
                        button.circular.ui.green.icon.massive.button(onclick="javascript:window.history.back();")
                            i.big.history.icon

    include includes/_javascript.pug
