doctype html
html
    head
        include includes/_head.pug

    body.ui.container
        div.ui.grid
            div.sixteen.wide.column
                div.ui.segments
                    div.ui.horizontal.segments            
                        div.ui.segment
                            div.ui.segment
                                div.ui.form
                                    button.ui.fluid.blue.button(name="supremo") SUPREMO
                    
                        div.ui.segment
                            div.ui.segment
                                div.ui.form
                                    button.ui.fluid.yellow.button(name="supremo") SÍNODOS

                    div.ui.horizontal.segments            
                        div.ui.segment
                            div.ui.segment
                                div.ui.form
                                    button.ui.fluid.red.button(name="supremo") PRESBITÉRIOS
                    
                        div.ui.segment
                            div.ui.segment
                                div.ui.form
                                    button.ui.fluid.teal.button(name="supremo") IGREJAS

    block specific-js
        // Essential javascripts for application to work
        script(src='js/jquery-3.2.1.min.js')
        script(src='js/semantic.min.js')
        script(type="text/javascript").
            $("button").click(function(){
                document.location = "/login";
            });
