doctype html
html
    head
        include includes/_head.pug

    body.ui.container
        div.ui.grid
            div.sixteen.wide.column
                div.ui.segments
                    div.ui.horizontal.segments            
                        div.ui.segment
                            p Aqui é o login do Supremo
                    
                        div.ui.segment
                            p Aqui é o login do Sínodo

                    div.ui.horizontal.segments            
                        div.ui.segment
                            p Aqui é o login do Supremo
                    
                        div.ui.segment
                            p Aqui é o login do Sínodo


    include includes/_javascript.pug
