extends layouts/_layout.pug

block content
    div.ui.segment
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="index.html")
                    i.home.icon
                div.divider /
                a.section Relatórios
                div.divider /
                div.active.section Conselho

        div.ui.clearing

        h2.ui.floated.header
            | Relatórios do Conselho
            div.sub.header
                | Relatórios do conselho. -> breve explicação da tela

        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item(data-tab="first") Relatórios
            a.item.active(data-tab="second") Responder

        div.ui.bottom.attached.tab.segment(data-tab="first")
            table.ui.compact.selectable.celled.green.table
                thead
                    tr
                        th.one.wide Código
                        th.ten.wide Tipo Relatório
                        th.two.wide.center.aligned Data Inclusão
                        th.two.wide.center.aligned Ultima Alteração
                        th.two.wide.center.aligned Status
                        th.two.wide.center.aligned Ano

                tbody
                    tr
                        td 01
                        td RELATÓRIO DO CONSELHO
                        td 01/02/2017
                        td 20/02/2017
                        td Em Edição
                        td 2018
                    tr
                        td 02
                        td RELATÓRIO DO CONSELHO
                        td 01/05/2016
                        td 20/08/2016
                        td Importado
                        td 2017

        div.ui.bottom.attached.tab.segment.active(data-tab="second")
            div.ui.segments
                div.ui.red.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong Relatório do Conselho ou Mesa Administrativa

                div.ui.form.segment
                    div.fields
                        div.two.wide.field
                            label Ano
                            input(type="text", value="2018", disabled="")
                        div.two.wide.field
                            label Sínodo
                            input(type="text", value="SCA", disabled="")
                        div.two.wide.field
                            label Presbitério
                            input(type="text", value="PRON", disabled="")
                        div.eight.wide.field
                            label Igreja
                            input(type="text", value="IGREJA PRESBITERIANA LUZ E VIDA", disabled="")
                        div.two.wide.field
                            label Sigla
                            input(type="text", value="?????", disabled="")

            div.ui.segments
                div.ui.red.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong I - Identificação da Igreja / Congregação Presbiterial

                div.ui.form.segment
                    div.fields
                        div.sixteen.wide.field
                            label Nome (Igreja/Congregação)
                            input(type="text", disabled="")

                    div.fields
                        div.eight.wide.field
                            label Endereço
                            input(type="text", disabled="")
                        div.two.wide.field
                            label Número
                            input(type="text", disabled="")
                        div.three.wide.field
                            label Complemento
                            input(type="text", disabled="")
                        div.three.wide.field
                            label Bairro
                            input(type="text", disabled="")

                    div.fields
                        div.four.wide.field
                            label Estado
                            select.ui.fluid.search.dropdown.disabled
                        div.four.wide.field
                            label Cidade
                            select.ui.fluid.search.dropdown.disabled
                        div.three.wide.field
                            label CEP
                            input(type="text", disabled="")
                        div.two.wide.field
                            label Cx. P
                            input(type="text", disabled="")
                        div.three.wide.field
                            label CEP Cx. P
                            input(type="text", disabled="")

                    div.fields
                        div.two.wide.field
                            label Telefone
                            input(type="text", disabled="")
                        div.four.wide.field
                            label E-Mail
                            input(type="text", disabled="")
                        div.four.wide.field
                            label HomePage
                            input(type="text", disabled="")
                        div.three.wide.field
                            label CNPJ
                            input(type="text", disabled="")
                        div.three.wide.field
                            label Data Organização
                            input(type="text", disabled="")

            div.ui.segments
                div.ui.red.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong II - INFORMAÇÕES DO TRABALHO

                div.ui.form.segment
                    div.ui.red.ribbon.label(style="font-size:0.92857143em;") 1. ORGANIZAÇÃO
                    strong(style="color:#FF695E;") 1.1. ORGANIZAÇÃO

                div.ui.form.segment
                    div.inline.fields
                        div.eight.wide.field(data-tooltip="Os imóveis que pertencem a igreja estão devidamente documentados?")
                            div.ten.wide.field
                                span.ui.label 1.1.1
                                label Imóveis Documentados
                            div.six.wide.field
                                div.ui.radio.checkbox
                                    input(name="radio1" type="radio")
                                    label Sim
                                div.ui.radio.checkbox
                                    input(name="radio1" type="radio" checked="checked")
                                    label Não

                        div.eight.wide.field(data-tooltip="A igreja apresentou no ano passado quais declarações Fiscais?")
                            div.eight.wide.field
                                span.ui.label 1.1.4
                                label Declarações Anteriores
                            div.eight.wide.field
                                div.ui.checkbox
                                    input(name="radio2" type="checkbox")
                                    label IRenda
                                div.ui.checkbox
                                    input(name="radio2" type="checkbox")
                                    label RAIS
                                div.ui.checkbox
                                    input(name="radio2" type="checkbox")
                                    label DIRF


                    div.inline.fields
                        div.eight.wide.field(data-tooltip="A igreja organizou o inventário dos imóveis e utensílios?")
                            div.ten.wide.field
                                span.ui.label 1.1.2.
                                label Inventário patrimonial
                            div.six.wide.field
                                div.ui.radio.checkbox
                                    input(name="radio3" type="radio")
                                    label Sim
                                div.ui.radio.checkbox
                                    input(name="radio3" type="radio" checked="checked")
                                    label Não

                        div.eight.wide.field(data-tooltip="Caso a igreja tenha inventário, ele esta devidamente atualizado?")
                            div.ten.wide.field
                                span.ui.label 1.1.5.
                                label Inventário atualizado
                            div.six.wide.field
                                div.ui.radio.checkbox
                                    input(name="radio3" type="radio")
                                    label Sim
                                div.ui.radio.checkbox
                                    input(name="radio3" type="radio" checked="checked")
                                    label Não

                    div.inline.fields
                        div.eight.wide.field(data-tooltip="A igreja conta com o rol de membro atualizado?")
                            div.ten.wide.field
                                span.ui.label 1.1.3.
                                label Rol de membros Atualizado
                            div.six.wide.field
                                div.ui.radio.checkbox
                                    input(name="radio3" type="radio")
                                    label Sim
                                div.ui.radio.checkbox
                                    input(name="radio3" type="radio" checked="checked")
                                    label Não

                        div.eight.wide.field(data-tooltip="Quantas congregações estão vinculadas a igreja?")
                            div.ten.wide.field
                                span.ui.label 1.1.6.
                                label Quantidade congregações?
                            div.six.wide.field
                                input(type="text" name="quantas_congregacoes")

                div.ui.segment
                    div.ui.red.ribbon.label(style="font-size:0.92857143em;") 2. SUPERVISÃO ESPIRITUAL
                    strong(style="color:#FF695E;") 2.1. ADORAÇÃO E COMUNHÃO

                div.ui.form.segment
                    div.inline.fields
                        div.sixteen.wide.field(data-tooltip="Quantidade de cerimônias realizadas")
                            div.four.wide.field
                                span.ui.label 2.1.1
                                label Santa Ceia - Grupos
                            div.two.wide.field
                                input(type="text")
                            div.four.wide.field
                                label Santa Ceia - Individual
                            div.two.wide.field
                                input(type="text")

                            div.four.wide.field.disabled
                                div.ui.labeled.input
                                    div.ui.label Total
                                    input(type="text", value="18")

                div.ui.segment
                    div.ui.red.ribbon.label(style="font-size:0.92857143em;") 2. SUPERVISÃO ESPIRITUAL
                    strong(style="color:#FF695E;") 2.2. EVANGELIZAÇÃO E MISSÕES

                div.ui.form.segment
                    div.inline.fields
                        div.five.wide.field(data-tooltip="Qual o número de atividades evangelísticas realizadas?")
                            label 2.2.1. Nº de atividades  evangelísticas:*
                        div.two.wide.field
                            input(type="text")
                        div.ui.tiny.message
                            label * em templos e residências; recintos públicos ou ar livre; imprensa escrita, rádio e TV, etc.
                    div.inline.fields
                        div.five.wide.field(data-tooltip="Quantas literaturas foram distribuídas?")
                            label 2.2.2. Textos distribuídos:
                        div.one.wide.field
                            label Bíblias
                        div.one.wide.field
                            input(type="text")
                        div.one.wide.field
                            label Novo Testamento
                        div.one.wide.field
                            input(type="text")
                        div.one.wide.field
                            label Folhetos
                        div.one.wide.field
                            input(type="text")
                        div.one.wide.field
                            label Outros
                        div.one.wide.field
                            input(type="text")
                        div.one.wide.field
                            label Total
                        div.two.wide.field
                            input(type="text")
                    div.inline.fields
                        div.five.wide.field(data-tooltip="Qual trabalho missionário realizado?")
                            label 2.2.3. Trabalho missionário com:
                        div.two.wide.field.ui.checkbox
                            label JMN
                            input(name="check1" type="checkbox")
                        div.two.wide.field.ui.checkbox
                            label APMT
                            input(name="check2" type="checkbox")
                        div.three.wide.field.ui.checkbox
                            label Parceria com o PMC
                            input(name="check3" type="checkbox")
                        div.three.wide.field.ui.checkbox
                            label Plantação de Igrejas
                            input(name="check4" type="checkbox")
                    div.inline.fields
                        div.five.wide.field
                            label 2.2.4.Outra participação missionária:
                        div.eleven.wide.field
                            input(type="text")


                div.ui.segment
                    div.ui.red.ribbon.label(style="font-size:0.92857143em;") 2. SUPERVISÃO ESPIRITUAL
                    strong(style="color:#FF695E;") 2.3 EDUCAÇÃO E APERFEIÇOAMENTO

                div.ui.form.segment
                    div.inline.fields
                        div.four.wide.field(data-tooltip="Houve aperfeiçoamento para Professores EBD?")
                            label 2.3.1. Para professores de Escola Dominical:
                        div.two.wide.field
                            label Sim
                            input(name="radio6" type="radio")
                            label Não
                            input(name="radio6" type="radio" checked="checked")
                        div.three.wide.field(data-tooltip="Houve aperfeiçoamento para Liderança da Igreja?")
                            label 2.3.4. Para Liderança:
                        div.two.wide.field
                            label Sim
                            input(name="radio9" type="radio")
                            label Não
                            input(name="radio9" type="radio" checked="checked")
                    div.inline.fields
                        div.four.wide.field(data-tooltip="Houve aperfeiçoamento para Equipe Musical?")
                            label 2.3.2. Para Equipe de Música:
                        div.two.wide.field
                            label Sim
                            input(name="radio7" type="radio")
                            label Não
                            input(name="radio7" type="radio" checked="checked")
                        div.three.wide.field(data-tooltip="Número de Corais na Igreja")
                            label 2.3.5. Nº de Grupos Corais:
                        div.two.wide.field
                            input(type="text")
                    div.inline.fields
                        div.four.wide.field(data-tooltip="Houve aperfeiçoamento para Presbíteros e Diáconos?")
                            label 2.3.3. Para Oficiais (Presbíteros e Diáconos)
                        div.two.wide.field
                            label Sim
                            input(name="radio8" type="radio")
                            label Não
                            input(name="radio8" type="radio" checked="checked")
                        div.three.wide.field(data-tooltip="Quantas equipes musicais há na Igreja?")
                            label 2.3.6. Nº de Conjuntos Musicais:
                        div.two.wide.field
                            input(type="text")

                div.ui.segment
                    div.ui.red.ribbon.label(style="font-size:0.92857143em;") 2. SUPERVISÃO ESPIRITUAL
                    strong(style="color:#FF695E;") 2.4 AÇÃO SOCIAL E VISITAÇÃO

                div.ui.form.segment
                    div.inline.fields
                        div.six.wide.field(data-tooltip="Nº de atos benificientes realizados pela Junta Diaconal.")
                            label 2.4.1.Nº de atos beneficentes realizados pela Junta Diaconal:
                        div.two.wide.field
                            input(type="text")
                        div.three.wide.field(data-tooltip="Nº de atos benificientes realizados por outro Departamento.")
                            label Por outros departamentos:
                        div.two.wide.field
                            input(type="text")
                        div.one.wide.field
                            label Total
                        div.two.wide.field
                            input(type="text")
                    div.inline.fields
                        div.six.wide.field(data-tooltip="Nº de visitas realizadas por Presbíteros e Diáconos.")
                            label 2.4.2.Nº de visitas feitas por presbíteros e diáconos:
                        div.two.wide.field
                            input(type="text")
                        div.three.wide.field(data-tooltip="Nº de visitas realizadas por outro Departamento.")
                            label Por outros departamentos:
                        div.two.wide.field
                            input(type="text")
                        div.one.wide.field
                            label Total
                        div.two.wide.field
                            input(type="text")

                div.ui.segment
                    div.ui.red.ribbon.label(style="font-size:0.92857143em;") 3. SUPERVISÃO ADMINISTRATIVA
                    strong(style="color:#FF695E;") 3.1. SUPERVISÃO ADMINISTRATIVA

                div.ui.form.segment
                    div.inline.fields
                        div.eight.wide.field
                            label 3.1. A Igreja enviou fielmente os Dízimos dos Dízimos à Tesouraria IPB:
                        div.one.wide.field
                            label Sim
                            input(name="radio9" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio9" type="radio" checked="checked")

                div.ui.form.segment
                    div.ui.top.left.attached.label REUNIÕES
                    div.inline.fields
                        div.four.wide.field
                            label 3.2. Conselho:
                        div.four.wide.field
                            select.ui.fluid.search.dropdown
                                option Igreja
                                option Congregação Presbiterial
                                option Ambas

                        div.four.wide.field
                            label 3.5. Mesa Administrativa da Cong. Presbiterial:
                        div.four.wide.field
                            select.ui.fluid.search.dropdown
                                option Igreja
                                option Congregação Presbiterial
                                option Ambas

                    div.inline.fields
                        div.four.wide.field
                            label 3.3. Junta Diaconal:
                        div.four.wide.field
                            select.ui.fluid.search.dropdown
                                option Igreja
                                option Congregação Presbiterial
                                option Ambas

                        div.four.wide.field
                            label 3.6. Comissão de Exame de Contas da Tesouraria:
                        div.four.wide.field
                            select.ui.fluid.search.dropdown
                                option Igreja
                                option Congregação Presbiterial
                                option Ambas

                    div.inline.fields
                        div.four.wide.field
                            label 3.4. Assembléia Geral:
                        div.four.wide.field
                            select.ui.fluid.search.dropdown
                                option Igreja
                                option Congregação Presbiterial
                                option Ambas
                div.ui.form.segment
                    div.inline.fields
                        div.seven.wide.field
                            label 3.7. Houve exame/aprovação balancetes da tesouraria?
                        div.one.wide.field
                            label Sim
                            input(name="radio10" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio10" type="radio")
                    div.inline.fields
                        div.seven.wide.field
                            label 3.8. Há oficiais com mandato a vencer no ano a seguir?
                        div.one.wide.field
                            label Sim
                            input(name="radio11" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio11" type="radio")
                    div.inline.fields
                        div.two.wide.field(data-tooltip="Nº Presbíteros com mandato a vencer no próximo ano.")
                            label Nº Presbíteros:
                        div.two.wide.field
                            input(type="text")
                        div.two.wide.field(data-tooltip="Nº Diáconos com mandato a vencer no próximo ano.")
                            label Nº Diáconos
                        div.two.wide.field
                            input(type="text")
                    div.inline.fields
                        div.three.wide.field
                            label Quais?
                    div.inline.fields
                        div.sixteen.wide.field
                            textarea(rows="4" placeholder="Escreva os nomes dos Presbíteros/Diáconos que estão com mandatos a vencer")
                    div.inline.fields
                        div.one.wide.field
                            label FAP?
                        div.one.wide.field
                            label Sim
                            input(name="radio12" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio12" type="radio")
                        div.one.wide.field
                        div.two.wide.field
                            label IPB-PREV?
                        div.one.wide.field
                            label Sim
                            input(name="radio13" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio13" type="radio")
                    div.inline.fields
                        div.six.wide.field
                            label 3.9. Idem, dos livros e relatórios das sociedades?
                        div.one.wide.field
                            label Sim
                            input(name="radio14" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio14" type="radio")
                        div.six.wide.field
                            label 3.11. Houve contribuição para causas extra-locais?
                        div.one.wide.field
                            label Sim
                            input(name="radio15" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio15" type="radio")
                    div.inline.fields
                        div.six.wide.field
                            label 3.10. Houve nomeação de conselheiros às Sociedades?
                        div.one.wide.field
                            label Sim
                            input(name="radio16" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio16" type="radio")
                        div.six.wide.field
                            label 3.12. Contribuiu com Previdência Social pastor(es)?
                        div.one.wide.field
                            label Sim
                            input(name="radio17" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio17" type="radio")
                    div.inline.fields
                        div.eight.wide.field
                            label 3.13. Reforma e/ou Construção em projeto:
                        div.eight.wide.field
                            label 3.14. Reforma e/ou Construção em andamento:
                    div.inline.fields
                        div.eight.wide.field
                            textarea(rows="4", placeholder="Cite a(s) reforma(s) ou contrução(ões) que estão no projeto.")
                        div.eight.wide.field
                            textarea(rows="4", placeholder="Cite a(s) reforma(s) ou contrução(ões) que estão em andamento.")

                div.ui.segment
                    div.ui.red.ribbon.label(style="font-size:0.92857143em;") 4. PLANEJAMENTO ESTRATÉGICO
                    strong(style="color:#FF695E;") 4.1. PLANEJAMENTO ESTRATÉGICO


                div.ui.form.segment
                    div.inline.fields
                        div.six.wide.field
                            label 4.1 A Igreja tem Planejamento Estratégico?
                        div.one.wide.field
                            label Sim
                            input(name="radio18" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio18" type="radio")
                    div.inline.fields
                        div.eight.wide.field
                            label 4.2. Quais os objetivos propostos e alcançados?
                        div.eight.wide.field
                            label 4.3. Quais os objetivos propostos e NÃO alcançados? Identificar as dificuldades.
                    div.inline.fields
                        div.eight.wide.field
                            textarea(rows="4", placeholder="Cite os objetivos que foram propostos e alcançados.")
                        div.eight.wide.field
                            textarea(rows="4", placeholder="Cite os objetivos que foram propostos mas NÃO foram alcançados.")

                div.ui.segment
                    div.ui.red.ribbon.label(style="font-size:0.92857143em;") 5. PATRIMÔNIO
                    strong(style="color:#FF695E;") 5.1 PATRIMÔNIO

                div.ui.form.segment
                    div.inline.fields
                        div.six.wide.field
                            label 5.1. A Igreja tem Seguro do bem patrimonial?
                        div.one.wide.field
                            label Sim
                            input(name="radio19" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio19" type="radio")
                        div.six.wide.field
                            label 5.2. Tem Alvará de Funcionamento?
                        div.one.wide.field
                            label Sim
                            input(name="radio20" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio20" type="radio")
                    div.inline.fields
                        div.six.wide.field
                            label 5.3. Tem Licença do Corpo de Bombeiros em dia?
                        div.one.wide.field
                            label Sim
                            input(name="radio21" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio21" type="radio")
                        div.six.wide.field
                            label 5.4. Tem Certificado Digital?
                        div.one.wide.field
                            label Sim
                            input(name="radio22" type="radio")
                        div.one.wide.field
                            label Não
                            input(name="radio22" type="radio")

            div.ui.segments
                div.ui.green.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong INFORMAÇÕES SOBRE O PREENCHIMENTO

                div.ui.horizontal.segments
                    div.ui.segment
                        span
                            strong Usuário inclusão:
                        span
                            | &nbsp;
                            | Kallew Pavão
                            | &nbsp;
                        span(style="float: right;")
                            strong Data:
                            | &nbsp;
                            | 01/01/2018

                    div.ui.segment
                        span
                            strong Última alteração:
                        span
                            | &nbsp;
                            | Kallew Pavão
                            | &nbsp;
                        span(style="float: right;")
                            strong Data:
                            | &nbsp;
                            | 01/01/2018

                div.ui.segment
                    div.ui.toggle.checkbox(data-tooltip="Deixe AZUL caso tenha FINALIZADO este relatório.")
                        label Relatório Finalizado
                        input(type="checkbox", name="relatorio_finalizado")


            div.ui.clearing.divider

            div(style="text-align: center")
                button.ui.green.labeled.icon.button(type="submit")
                    i.plus.icon
                    | Gravar

                button.ui.reset.button(type="reset")
                    i.minus.icon
                    | Limpar

                button.ui.red.right.labeled.icon.button(type="button")
                    i.remove.icon
                    | Excluir


block specific-js
    script(src='js/app/jquery-validate-app.js')
    script(src="js/plugins/bootstrap-datepicker.min.js")
    script(src="js/plugins/bootstrap-datepicker.pt-BR.min.js")
    script(src="js/plugins/dataTables.min.js")
    script(src="js/plugins/sweetalert.min.js")
    script(src="js/app/relatorios-conselhos-app.js")