extends layouts/_layout.pug

block content
    div.ui.segment
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="inicio")
                    i.home.icon
                div.divider /
                a.section Relatórios
                div.divider /
                div.active.section Ministerial

        div.ui.clearing

        h2.ui.floated.header
            | Relatório Ministerial
            div.sub.header
                | Relatório Ministerial. -> breve explicação da tela

        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item(data-tab="first") Relatórios
            a.item.active(data-tab="second") Responder

        div.ui.bottom.attached.tab.segment(data-tab="first")
            table.ui.compact.selectable.celled.green.table(id="tbl_relatorios_ministeriais")
                thead
                    tr
                        th.one.wide Código
                        th.ten.wide Tipo Relatório
                        th.two.wide.center.aligned Data Inclusão
                        th.two.wide.center.aligned Ultima Alteração
                        th.two.wide.center.aligned Status
                        th.two.wide.center.aligned Ano

                tbody(id="tbody_relatorios_ministeriais")
                    tr
                        td 01
                        td RELATÓRIO MINISTERIAL
                        td 01/02/2017
                        td 20/02/2017
                        td Em Edição
                        td 2018
                    tr
                        td 02
                        td RELATÓRIO MINISTERIAL
                        td 01/05/2016
                        td 20/08/2016
                        td Importado
                        td 2017

        form.ui.bottom.attached.tab.segment.active(data-tab="second" id="relatorios_ministeriais" name="relatorios_ministeriais")
            div.ui.segments
                div.ui.green.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong Relatório do Ministro Presbiteriano

                div.ui.form.segment
                    div.fields
                        div.two.wide.field
                            label Ano
                            input(type="text" , value="2018", disabled="")
                        div.two.wide.field
                            label Sínodo
                            input(type="text" , value="SCA", disabled="")
                        div.two.wide.field
                            label Presbitério
                            input(type="text" , value="PRON", disabled="")
                        div.eight.wide.field
                            label Igreja
                            input(type="text" , value="IGREJA PRESBITERIANA LUZ E VIDA", disabled="")
                        div.two.wide.field
                            label Sigla
                            input(type="text" , value="?????", disabled="")

            div.ui.segments
                div.ui.green.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong I - Identificação do Ministro

                div.ui.form.segment
                    div.fields
                        div.sixteen.wide.field
                            label Nome
                            input(type="text" , name="nome" placeholder="Digite seu Nome" disabled="")
                    div.fields
                        div.eight.wide.field
                            label Nome do Pai
                            input(type="text" , name="nome_pai" placeholder="Nome do Pai" disabled="")
                        div.eight.wide.field
                            label Nome da Mãe
                            input(type="text" , name="nome_mae" placeholder="Nome da Mãe" disabled="")
                    div.fields
                        div.ui.calendar.bottom.left.three.wide.field
                            label Data de Nascimento
                            input.datepicker2(type="text" value="0" name="nascimento_data" placeholder="Data de Nascimento" disabled="")
                        div.five.wide.field
                            label Estado Natal
                            select.ui.fluid.search.dropdown(disabled="")
                                option
                                option Estado
                                option Estado
                                option Estado
                        div.eight.wide.field
                            label Cidade Natal
                            select.ui.fluid.search.dropdown(disabled="")
                                option
                                option Cidade
                                option Cidade
                                option Cidade
                    div.fields
                        div.four.wide.field
                            label RG
                            input(type="text" , name="rg" placeholder="RG" disabled="")
                        div.four.wide.field
                            label Orgão Emissor
                            input(type="text" , name="rg_emissor" placeholder="Orgão Emissor" disabled="")
                        div.four.wide.field
                            label CPF
                            input(type="text" , name="cpf" placeholder="CPF" disabled="")
                        div.five.wide.field
                            label Estado Civil
                            select.ui.fluid.search.dropdown(disabled="")
                                option Casado
                                option Solteiro
                                option Viúvo
                                option Separado
                    div.fields
                        div.ten.wide.field
                            label Cônjuge
                            input(type="text" , name="conjuge_nome" placeholder="Cônjuge" disabled="")
                        div.ui.calendar.bottom.left.four.wide.field
                            label Data de Nascimento
                            input.datepicker2(type="text" value="0" name="conjuge_nascimento" placeholder="Data de Nascimento do Cônjuge" disabled="")
                        div.two.wide.field
                            label Nº de Dependentes
                            input(type="text" , name="dependentes" placeholder="Nº de Dependentes" disabled="")
                    div.fields
                        div.sixteen.wide.field
                            label Nome dos Dependentes
                            input(type="text" , name="nome_filhos" placeholder="Nome dos Dependentes. OSB. use ; para separar os nomes" disabled="")
                    div.fields
                        div.six.wide.field
                            label Endereço
                            input(type="text" value="0" name="endereco" placeholder="Endereço" disabled="")
                        div.two.wide.field
                            label Número
                            input(type="text" value="0" name="endereco_nr" placeholder="Número" disabled="")
                        div.four.wide.field
                            label Complemento
                            input(type="text" value="0" name="endereco_complemento" placeholder="Complemento" disabled="")
                        div.four.wide.field
                            label Bairro
                            input(type="text" value="0" name="endereco_bairro" placeholder="Bairro" disabled="")
                    div.fields
                        div.four.wide.field
                            label Estado
                            select.ui.fluid.search.dropdown(disabled="")
                                option
                                option Estado
                                option Estado
                                option Estado
                        div.five.wide.field
                            label Cidade
                            select.ui.fluid.search.dropdown(disabled="")
                                option
                                option Cidade
                                option Cidade
                                option Cidade
                        div.two.wide.field
                            label CEP
                            input(type="text" , name="cep" placeholder="CEP" disabled="")
                        div.two.wide.field
                            label Cx. Postal
                            input(type="text" , name="cx_postal" placeholder="Caixa Postal" disabled="")
                        div.three.wide.field
                            label CEP Cx. Postal
                            input(type="text" , name="cx_postal_cep" placeholder="CEP Cx. Postal" disabled="")
                    div.fields
                        div.three.wide.field
                            label Celular
                            input(type="text" , name="celular" placeholder="Celular" disabled="")
                        div.three.wide.field
                            label Telefone Fixo
                            input(type="text" , name="telefone" placeholder="Telefone Fixo" disabled="")
                        div.three.wide.field
                            label Telefone da Igreja
                            input(type="text" , name="telefone_igreja" placeholder="Telefone da Igreja" disabled="")
                        div.seven.wide.field
                            label E-mail
                            input(type="email" name="email" placeholder="E-Mail" disabled="")
                    div.fields
                        div.five.wide.field
                            label Condições de Moradia:
                            select.ui.fluid.search.dropdown(name="condicao_moradia")
                                option(value="")
                                option(value="1") Casa/Apto Pastoral
                                option(value="2") Moradia Própria
                                option(value="3") Financiada
                                option(value="4") Moradia alugada paga pela Igreja
                                option(value="5") Moradia alugada e paga pelo Ministro
                                option(value="6") Moradia alugada Nos limites do campo
                                option(value="7") Moradia alugada Fora do campo
                        div.three.wide.field
                            label Data de Ordenação:
                            input(type="text" value="0" name="ordenacao_data")
                        div.eight.wide.field(data-tooltip="Digite ou Selecione o Presbitério onde foi ordenado.")
                            label Presbitério
                            select.ui.fluid.search.dropdown(name="id_presbiterio")
                                option
                                option Sul de Rondônia
                                option Vale do Rio Machado
                    div.fields
                        div.three.wide.field
                            label Dedicação ao Ministério:
                            select.ui.fluid.search.dropdown(name="dedicacao_ministerio")
                                option(value="0")
                                option(value="1") Integral
                                option(value="2") Parcial
                        div.three.wide.field
                            label Férias
                            select.ui.fluid.search.dropdown(name="ferias")
                                option(value="0")
                                option(value="1") Regulares
                                option(value="2") Parciais
                                option(value="3") Não teve
                        div.five.wide.field
                            label Côngruas
                            div.ui.labeled.input
                                div.ui.label R$
                                input(type="text" value="0" name="congruas")
                    div.fields.inline
                        div.three.wide.field(data-tooltip="Possui aposentadoria pública?")
                            label Aposentadoria pública?
                        div.three.wide.field
                            div.ui.radio.checkbox
                                input(name="previdencia_publica" type="radio")
                                label Sim
                            div.ui.radio.checkbox
                                input(name="previdencia_publica" type="radio" checked="checked")
                                label Não
                        div.three.wide.field(data-tooltip="Possui aposentadoria privada?")
                            label Aposentadoria privada?
                        div.three.wide.field
                            div.ui.radio.checkbox
                                input(name="previdencia_privada" type="radio")
                                label Sim
                            div.ui.radio.checkbox
                                input(name="previdencia_privada" type="radio" checked="checked")
                                label Não
                        div.two.wide.field(data-tooltip="Possui plano de saúde?")
                            label Plano de saúde?
                        div.two.wide.field
                            div.ui.radio.checkbox
                                input(name="plano_saude" type="radio")
                                label Sim
                            div.ui.radio.checkbox
                                input(name="plano_saude" type="radio" checked="checked")
                                label Não
                    div.fields.inline
                        div.five.wide.field
                            label Contribui para o INSS sobre o valor das Côngruas??
                        div.two.wide.field
                            div.ui.radio.checkbox
                                input(name="congruas_contribui_inss" type="radio")
                                label Sim
                            div.ui.radio.checkbox
                                input(name="congruas_contribui_inss" type="radio" checked="checked")
                                label Não
                        div.five.wide.field(data-tooltip="Qual o valor da contribuição para o INSS?")
                            label Contribuição INSS:
                            div.ui.labeled.input
                                div.ui.label R$
                                input(type="text" name="previdencia_publica_valor" value="0")
                        div.two.wide.field(data-tooltip="Contribui para Previdência Privada?")
                            label Previdência Privada?
                        div.two.wide.field
                            div.ui.radio.checkbox
                                input(name="contribui_prev_privada" type="radio")
                                label Sim
                            div.ui.radio.checkbox
                                input(name="contribui_prev_privada" type="radio" checked="checked")
                                label Não

            div.ui.segments
                div.ui.green.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong II - Campo de Trabalho

                div.ui.form.segment
                    div.fields
                        div.eight.wide.field
                            label Igreja(s):
                            textarea(rows="2" value="0" name="ct_igreja")
                        div.eight.wide.field
                            label Congregação(ões):
                            textarea(rows="2" value="0" name="ct_congregacoes")

            div.ui.segments
                div.ui.green.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong III - Atuação Ministerial

                div.ui.form.segment
                    div.ui.green.ribbon.label(style="font-size:0.92857143em;") 1. DOUTRINAÇÃO
                    strong(style="color:green;") No campo e fora do campo

                div.ui.form.segment
                    div.fields
                        div.four.wide.field
                            label Pregações
                            input(type="text" value="0" name="pregacoes")
                        div.four.wide.field
                            label Aulas de Escola Dominical:
                            input(type="text" value="0" name="ebd")
                        div.four.wide.field
                            label Trabalhos de Evangelização:
                            input(type="text" value="0" name="evangelizacao")
                        div.four.wide.field
                            label Estudos Bíblicos:
                            input(type="text" value="0" name="estudos_biblicos")
                    div.fields
                        div.four.wide.field
                            label Palestras, preleções especiais:
                            input(type="text" value="0" name="palestras_prelecoes")
                        div.four.wide.field
                            label Mensagens - Rádio/TV:
                            input(type="text" value="0" name="msg_radio")
                        div.four.wide.field
                            label Artigos-jornais, boletins, revistas:
                            input(type="text" value="0" name="artigos_boletins_revistas")
                        div.four.wide.field
                            label Entrevistas:
                            input(type="text" value="0" name="entrevistas")

                div.ui.form.segment
                    div.ui.green.ribbon.label(style="font-size:0.92857143em;") 2. ATOS PASTORAIS
                    strong(style="color:green;") No campo e fora do campo

                div.ui.form.segment
                    div.fields
                        div.five.wide.field
                            label Santas Ceias:
                            input(type="text" value="0" name="santa_ceia")
                        div.six.wide.field
                            label Bênçãos Nupciais (com ou sem efeito civil):
                            input(type="text" value="0" name="bencaos_nupciais")
                        div.five.wide.field
                            label Funerais:
                            input(type="text" value="0" name="funerais")
                    div.fields
                        div.five.wide.field
                            label Batismos Infantis:
                            input(type="text" value="0" name="batismos")
                        div.six.wide.field
                            label Profissões de Fé:
                            input(type="text" value="0" name="profissoes_fe")
                        div.five.wide.field
                            label Profissões de Fé & Batismos:
                            input(type="text" value="0" name="profissoes_batismos")

                div.ui.form.segment
                    div.ui.green.ribbon.label(style="font-size:0.92857143em;") 3. ASSISTÊNCIA PASTORAL
                    strong(style="color:green;") No campo e fora do campo

                div.ui.form.segment
                    div.fields
                        div.four.wide.field
                            label Aconselhamentos/Orientações:
                            input(type="text" value="0" name="aconselhamentos")

                div.ui.form.segment
                    div.ui.green.ribbon.label(style="font-size:0.92857143em;") 3. ASSISTÊNCIA PASTORAL
                    strong(style="color:green;") VISITAS

                div.ui.form.segment
                    div.fields
                        div.seven.wide.field
                            label Evangélicos ou não:(considerar as visitas feitas nos lares como uma visita.)
                            input(type="text" value="0" name="visitas_lares")
                        div.six.wide.field
                            label Pontos de Pregação, Congregações ou Campos Missionários
                            input(type="text" value="0" name="visitas_igrejas")
                        div.three.wide.field
                            label Departamentos Internos
                            input(type="text" value="0" name="departamentos_internos")

                div.ui.form.segment
                    div.ui.green.ribbon.label(style="font-size:0.92857143em;") 4. MINISTÉRIO DESIGNADO NOS TERMOS DO ARTIGO 37 DA CI/IPB

                div.ui.form.segment
                    div.fields
                        div.sixteen.wide.field
                            label Descrição das atividades:
                            textarea(rows="5" value="0" name="descricao_atividades")

            div.ui.segments
                div.ui.green.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong IV - Atuação Conciliar

                div.ui.form.segment
                    div.ui.green.ribbon.label(style="font-size:0.92857143em;") 1. CONCÍLIOS DA IPB
                    strong(style="color:green;") No campo e fora do campo

                div.ui.form.segment
                    div.fields
                        div.four.wide.field
                            label Reuniões do Conselho:
                            input(type="text" value="0" name="reunioes_conselho")
                        div.four.wide.field
                            label Assembleias Gerais da Igreja:
                            input(type="text" value="0" name="assembleias")
                        div.four.wide.field
                            label Diáconos Ordenados e/ou Investidos:
                            input(type="text" value="0" name="diaconos_ordenados_investidos")
                        div.four.wide.field
                            label Presbíteros Ordenados e/ou Investidos:
                            input(type="text" value="0" name="presbiteros_ordenados_investidos")
                    div.fields
                        div.three.wide.field
                            label Reuniões do Presbitério:
                            input(type="text" value="0" name="reunioes_presbiterio")
                        div.three.wide.field
                            label Reuniões do Sínodo:
                            input(type="text" value="0" name="reunioes_sinodo")
                        div.four.wide.field
                            label Reuniões do Supremo Concílio da IPB:
                            input(type="text" value="0" name="reunioes_concilio")
                    div.fields
                        div.sixteen.wide.field
                            label Comentários:
                            textarea(rows="3" value="0" name="comentarios")

                div.ui.form.segment
                    div.ui.green.ribbon.label(style="font-size:0.92857143em;") 2. CARGOS EM COMISSÕES EXECUTIVAS DOS CONCÍLIOS, SECRETARIAS DE CAUSAS, JUNTAS, COMISSÕES E AUTARQUIAS

                div.ui.form.segment
                    div.fields
                        div.sixteen.wide.field
                            div.ui.tiny.message
                                label OBS. mencionar as funções exercidas nos diversos níveis conciliares da IPB e o número de reuniões durante o ano.
                    div.fields
                        div.sixteen.wide.field
                            label No Presbitério:
                            textarea(rows="3" value="0" name="cargos_presbiterio")
                    div.fields
                        div.sixteen.wide.field
                            label No Sínodo:
                            textarea(rows="3" value="0" name="cargos_sinodo")
                    div.fields
                        div.sixteen.wide.field
                            label No Supremo Concílio:
                            textarea(rows="3" value="0" name="cargos_concilio")
                    div.fields
                        div.sixteen.wide.field
                            label Em Juntas, Comissões e Autarquias da IPB:
                            textarea(rows="3" value="0" name="cargos_outros")
                    div.fields
                        div.sixteen.wide.field
                            label Texto complementar::
                            textarea(rows="4" name="texto_complementar")

            div.ui.segments
                div.ui.green.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong V. Outras Atividades

                div.ui.form.segment
                    div.fields
                        div.sixteen.wide.field
                            div.ui.tiny.message
                                label OBS. Mencionar, estatisticamente, realizações no ano não previstas nos campos precedentes, dadas ou recebidas (cursos, leituras, encontros de estudos, congressos, etc.), bem como outras atividades
                                    | paralelas ao ministério pastoral (ex.: advocacia, jornalismo, magistério, etc.).
                    div.fields
                        div.sixteen.wide.field
                            label 1. Atualização e Aperfeiçoamento:
                            textarea(rows="3" value="0" name="atualizacao_aperfeicoamento")
                    div.fields
                        div.sixteen.wide.field
                            label 2. Atividades em entidades para-eclesiásticas:
                            textarea(rows="3" value="0" name="atividades_para_eclesiasticas")
                    div.fields
                        div.sixteen.wide.field
                            label 3. Atividades Extra Ministeriais:
                            textarea(rows="3" value="0" name="atividades_extras_ministeriais")
                    div.fields
                        div.sixteen.wide.field
                            label Outras
                            textarea(rows="3" value="0" name="atividades_outros")

            div.ui.segments
                div.ui.green.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong INFORMAÇÕES SOBRE O PREENCHIMENTO

                div.ui.horizontal.segments
                    div.ui.segment
                        span
                            strong Usuário inclusão:
                        span
                            | &nbsp;
                            | Kallew Pavão
                            | &nbsp;
                        span(style="float: right;")
                            strong Data:
                            | &nbsp;
                            | 01/01/2018

                    div.ui.segment
                        span
                            strong Última alteração:
                        span
                            | &nbsp;
                            | Kallew Pavão
                            | &nbsp;
                        span(style="float: right;")
                            strong Data:
                            | &nbsp;
                            | 01/01/2018

                div.ui.segment
                    div.ui.toggle.checkbox(data-tooltip="Deixe AZUL caso tenha FINALIZADO este relatório.")
                        label Relatório Finalizado
                        input(type="checkbox", name="relatorio_finalizado")


            div.ui.clearing.divider

            div(style="text-align: center")
                button.ui.green.labeled.icon.button(type="submit")
                    i.plus.icon
                    | Gravar

                button.ui.reset.button(type="reset")
                    i.minus.icon
                    | Limpar

                button.ui.red.right.labeled.icon.button(type="button")
                    i.remove.icon
                    | Excluir



block specific-js
    script(src='js/app/jquery-validate-app.js')
    script(src="js/plugins/bootstrap-datepicker.min.js")
    script(src="js/plugins/bootstrap-datepicker.pt-BR.min.js")
    script(src="js/plugins/dataTables.min.js")
    script(src="js/plugins/sweetalert.min.js")
    script(src="js/app/relatorios-ministeriais-app.js")