extends layouts/_layout.pug

block content
    div.ui.segment
        //
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="index.html")
                    i.home.icon
                div.divider /
                a.section Relatórios
                div.divider /
                div.active.section Conselho

        div.ui.clearing

        h2.ui.floated.header
            | Relatórios do Conselho
            div.sub.header
                | Relatórios do conselho. -> breve explicação da tela

        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item.active(data-tab="first") Relatórios
        div.ui.bottom.attached.tab.segment.active(data-tab="first")
            table.ui.compact.selectable.celled.red.table(id="tbl_relatorios_conselhos")
                thead
                    tr
                        th.sexteen.wide.center.aligned Relatório do Conselho ou Mesa Adiministrativa
                    tbody(id="tbody_relatorios_conselhos")
            form(id="relatorios_conselhos", name="relatorios_conselhos")
                div.ui.form
                    div.fields
                        div.two.wide.field
                            label Ano
                            input(type="text", disabled="")
                        div.four.wide.field
                            label Sínodo
                            select.ui.fluid.search.selection.dropdown.disabled
                        div.four.wide.field
                            label Presbitério
                            select.ui.fluid.search.selection.dropdown.disabled
                        div.four.wide.field
                            label Igreja
                            select.ui.fluid.search.selection.dropdown.disabled
                        div.two.wide.field
                            label Sigla
                            input(type="text", disabled="")
            table.ui.compact.selectable.celled.red.table(id="tbl_relatorios_conselhos")
                thead
                    tr
                        th.sexteen.wide.center.aligned I - Identificação da Igreja / Congregação Presbiterial
                    tbody(id="tbody_relatorios_conselhos")
            div.ui.form
                div.fields
                    div.sixteen.wide.field
                        label Nome (Igreja/Congregação)
                        input(type="text", disabled="")
                div.fields
                    div.eight.wide.field
                        label Endereço
                        input(type="text", disabled="")
                    div.two.wide.field
                        label Número
                        input(type="text", disabled="")
                    div.three.wide.field
                        label Complemento
                        input(type="text", disabled="")
                    div.three.wide.field
                        label Bairro
                        input(type="text", disabled="")
                div.fields
                    div.four.wide.field
                        label Estado
                        select.ui.fluid.search.dropdown.disabled
                    div.four.wide.field
                        label Cidade
                        select.ui.fluid.search.dropdown.disabled
                    div.three.wide.field
                        label CEP
                        input(type="text", disabled="")
                    div.two.wide.field
                        label Cx. P
                        input(type="text", disabled="")
                    div.three.wide.field
                        label CEP Cx. P
                        input(type="text", disabled="")
                div.fields
                    div.two.wide.field
                        label Telefone
                        input(type="text", disabled="")
                    div.four.wide.field
                        label E-Mail
                        input(type="text", disabled="")
                    div.four.wide.field
                        label HomePage
                        input(type="text", disabled="")
                    div.three.wide.field
                        label CNPJ
                        input(type="text", disabled="")
                    div.three.wide.field
                        label Data Organização
                        input(type="text", disabled="")
            table.ui.compact.selectable.called.red.table(id="tbl_relatorios_conselhos")
                thead
                    tr
                        th.sexteen.wide.center.aligned II - Informações do Trabalho
                    tbody(id="tbody_relatorios_conselhos")
            div.ui.form
                div.fields
                    div.two.wide.field
                        label.ui.ribbon.label 1. ORGANIZAÇÃO
                div.inline.fields
                    div.four.wide.field
                        label 1.1. Os imóveis estão documentados?
                    div.two.wide.field
                        label Sim
                        input(name="radio1" type="radio")
                        label Não
                        input(name="radio1" type="radio" checked="checked")
                    div.five.wide.field
                        label 1.4. Apresentou declarações do ano anterior?
                    div.five.wide.field
                        label IRenda
                        input(name="radio2" type="radio")
                        label RAIS
                        input(name="radio2" type="radio")
                        label DIRF
                        input(name="radio2" type="radio")
                div.inline.fields
                    div.four.wide.field
                        label 1.2. Há inventário dos móveis e utensílios?
                    div.two.wide.field
                        label Sim
                        input(name="radio3" type="radio")
                        label Não
                        input(name="radio3" type="radio" checked="checked")
                    div.five.wide.field
                        label 1.5. Inventário atualizado?
                    div.two.wide.field
                        label Sim
                        input(name="radio4" type="radio")
                        label Não
                        input(name="radio4" type="radio" checked="checked")
                div.inline.fields
                    div.four.wide.field
                        label 1.3. Os Róis de Membros estão atualizados
                    div.two.wide.field
                        label Sim
                        input(name="radio5" type="radio")
                        label Não
                        input(name="radio5" type="radio" checked="checked")
                    div.five.wide.field
                        label 1.6. Quantas Congregações da Igreja?
                    div.two.wide.field
                        input(type="text" name="quantas_congregacoes")
                div.fields
                    div.two.wide.field
                        label.ui.ribbon.label 2. SUPERVISÃO ESPIRITUAL
                div.fields
                    div.ui.red.header.horizontal.inverted.divider
                        h4 2.1. Adoração e Comunhão
                div.inline.fields
                    div.five.wide.field
                        label 2.1.1. Nº de celebrações da Santa Ceia em grupos:
                    div.two.wide.field
                        input(type="text")
                    div.four.wide.field
                        label Nº de Ministrações de Ceia à indivíduos:
                    div.two.wide.field
                        input(type="text")
                    div.one.wide.field
                        label Nº Total
                    div.two.wide.field
                        input(type="text")
                div.fields
                    div.three.wide.field
                        label 2.2. Evangelização e Missões
                div.inline.fields
                    div.five.wide.field
                        label 2.2.1. Nº de atividades  evangelísticas:*
                    div.two.wide.field
                        input(type="text")
                    div.ui.tiny.message
                        label * em templos e residências; recintos públicos ou ar livre; imprensa escrita, rádio e TV, etc.
                div.inline.fields
                    div.five.wide.field
                        label 2.2.2. Textos distribuídos:
                    div.one.wide.field
                        label Bíblias
                    div.one.wide.field
                        input(type="text")
                    div.one.wide.field
                        label Novo Testamento
                    div.one.wide.field
                        input(type="text")
                    div.one.wide.field
                        label Folhetos
                    div.one.wide.field
                        input(type="text")
                    div.one.wide.field
                        label Outros
                    div.one.wide.field
                        input(type="text")
                    div.one.wide.field
                        label Total
                    div.two.wide.field
                        input(type="text")
                div.inline.fields
                    div.five.wide.field
                        label 2.2.3. Trabalho missionário com:
                    div.two.wide.field.ui.checkbox
                        label JMN
                        input(name="check1" type="checkbox")
                    div.two.wide.field.ui.checkbox
                        label APMT
                        input(name="check2" type="checkbox")
                    div.three.wide.field.ui.checkbox
                        label Parceria com o PMC
                        input(name="check3" type="checkbox")
                    div.three.wide.field.ui.checkbox
                        label Plantação de Igrejas
                        input(name="check4" type="checkbox")
                div.inline.fields
                    div.five.wide.field
                        label 2.2.4.Outra participação missionária:
                    div.eleven.wide.field
                        input(type="text")
                div.inline.fields
                    div.ui.red.header.horizontal.inverted.divider
                        h4 2.3 Educação e Aperfeiçoamento
                div.inline.fields
                    div.four.wide.field
                        label 2.3.1. Para professores de Escola Dominical:
                    div.two.wide.field
                        label Sim
                        input(name="radio6" type="radio")
                        label Não
                        input(name="radio6" type="radio" checked="checked")
                    div.three.wide.field
                        label 2.3.4. Para Liderança:
                    div.two.wide.field
                        label Sim
                        input(name="radio9" type="radio")
                        label Não
                        input(name="radio9" type="radio" checked="checked")
                div.inline.fields
                    div.four.wide.field
                        label 2.3.2. Para Equipe de Música:
                    div.two.wide.field
                        label Sim
                        input(name="radio7" type="radio")
                        label Não
                        input(name="radio7" type="radio" checked="checked")
                    div.three.wide.field
                        label 2.3.5. Nº de Grupos Corais:
                    div.two.wide.field
                        input(type="text")
                div.inline.fields
                    div.four.wide.field
                        label 2.3.3. Para Oficiais (Presbíteros e Diáconos)
                    div.two.wide.field
                        label Sim
                        input(name="radio8" type="radio")
                        label Não
                        input(name="radio8" type="radio" checked="checked")
                    div.three.wide.field
                        label 2.3.6. Nº de Conjuntos Musicais:
                    div.two.wide.field
                        input(type="text")
                div.inline.fields
                    div.ui.red.header.horizontal.inverted.divider
                        h4 2.4. Ação Social e Visitação
                div.inline.fields
                    div.six.wide.field
                        label 2.4.1.Nº de atos beneficentes realizados pela Junta Diaconal:
                    div.two.wide.field
                        input(type="text")
                    div.three.wide.field
                        label Por outros departamentos:
                    div.two.wide.field
                        input(type="text")
                    div.one.wide.field
                        label Total
                    div.two.wide.field
                        input(type="text")
                div.inline.fields
                    div.six.wide.field
                        label 2.4.2.Nº de visitas feitas por presbíteros e diáconos:
                    div.two.wide.field
                        input(type="text")
                    div.three.wide.field
                        label Por outros departamentos:
                    div.two.wide.field
                        input(type="text")
                    div.one.wide.field
                        label Total
                    div.two.wide.field
                        input(type="text")
                div.fields
                    div.four.wide.field
                        label.ui.ribbon.label 3. SUPERVISÃO ADMINISTRATIVA
                div.inline.fields
                    div.eight.wide.field
                        label 3.1. A Igreja enviou fielmente os Dízimos dos Dízimos à Tesouraria IPB:
                    div.one.wide.field
                        label Sim
                        input(name="radio9" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio9" type="radio" checked="checked")
                div.inline.fields
                    div.ui.red.header.horizontal.inverted.divider
                        h4 REUNIÕES
                div.inline.fields
                    div.four.wide.field
                        label 3.2. Conselho:
                    div.four.wide.field
                        select.ui.fluid.search.dropdown
                            option Igreja
                            option Congregação Presbiterial
                            option Ambas
                    div.four.wide.field
                        label 3.6. Comissão de Exame de Contas da Tesouraria:
                    div.four.wide.field
                        select.ui.fluid.search.dropdown
                            option Igreja
                            option Congregação Presbiterial
                            option Ambas
                div.inline.fields
                    div.four.wide.field
                        label 3.3. Junta Diaconal:
                    div.four.wide.field
                        select.ui.fluid.search.dropdown
                            option Igreja
                            option Congregação Presbiterial
                            option Ambas
                    div.four.wide.field
                        label 3.5. Mesa Administrativa da Cong. Presbiterial:
                    div.four.wide.field
                        select.ui.fluid.search.dropdown
                            option Igreja
                            option Congregação Presbiterial
                            option Ambas
                div.inline.fields
                    div.four.wide.field
                        label 3.4. Assembléia Geral:
                    div.four.wide.field
                        select.ui.fluid.search.dropdown
                            option Igreja
                            option Congregação Presbiterial
                            option Ambas
                div.inline.fields
                    div.seven.wide.field
                        label 3.7. Houve exame/aprovação balancetes da tesouraria?
                    div.one.wide.field
                        label Sim
                        input(name="radio10" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio10" type="radio")
                div.inline.fields
                    div.seven.wide.field
                        label 3.8. Há oficiais com mandato a vencer no ano a seguir?
                    div.one.wide.field
                        label Sim
                        input(name="radio11" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio11" type="radio")
                div.inline.fields
                    div.two.wide.field
                        label Nº Presbíteros:
                    div.two.wide.field
                        input(type="text")
                    div.two.wide.field
                        label Nº Diáconos
                    div.two.wide.field
                        input(type="text")
                div.inline.fields
                    div.three.wide.field
                        label Quais?
                div.inline.fields
                    div.sixteen.wide.field
                        textarea(rows="4" placeholder="Escreva os nomes dos Presbíteros/Diáconos que estão com mandatos a vencer")
                div.inline.fields
                    div.one.wide.field
                        label FAP?
                    div.one.wide.field
                        label Sim
                        input(name="radio12" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio12" type="radio")
                    div.one.wide.field
                    div.two.wide.field
                        label IPB-PREV?
                    div.one.wide.field
                        label Sim
                        input(name="radio13" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio13" type="radio")
                div.inline.fields
                    div.six.wide.field
                        label 3.9. Idem, dos livros e relatórios das sociedades?
                    div.one.wide.field
                        label Sim
                        input(name="radio14" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio14" type="radio")
                    div.six.wide.field
                        label 3.11. Houve contribuição para causas extra-locais?
                    div.one.wide.field
                        label Sim
                        input(name="radio15" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio15" type="radio")
                div.inline.fields
                    div.six.wide.field
                        label 3.10. Houve nomeação de conselheiros às Sociedades?
                    div.one.wide.field
                        label Sim
                        input(name="radio16" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio16" type="radio")
                    div.six.wide.field
                        label 3.12. Contribuiu com Previdência Social pastor(es)?
                    div.one.wide.field
                        label Sim
                        input(name="radio17" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio17" type="radio")
                div.inline.fields
                    div.eight.wide.field
                        label 3.13. Reforma e/ou Construção em projeto:
                    div.eight.wide.field
                        label 3.14. Reforma e/ou Construção em andamento:
                div.inline.fields
                    div.eight.wide.field
                        textarea(rows="4")
                    div.eight.wide.field
                        textarea(rows="4")
                div.fields
                    div.four.wide.field
                        label.ui.ribbon.label 4. PLANEJAMENTO ESTRATÉGICO
                div.inline.fields
                    div.six.wide.field
                        label 4.1 A Igreja tem Planejamento Estratégico?
                    div.one.wide.field
                        label Sim
                        input(name="radio18" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio18" type="radio")
                div.inline.fields
                    div.eight.wide.field
                        label 4.2. Quais os objetivos propostos e alcançados?
                    div.eight.wide.field
                        label 4.3. Quais os objetivos propostos e NÃO alcançados? Identificar as dificuldades.
                div.inline.fields
                    div.eight.wide.field
                        textarea(rows="4")
                    div.eight.wide.field
                        textarea(rows="4")
                div.fields
                    div.four.wide.field
                        label.ui.ribbon.label 5. PATRIMÔNIO:
                div.inline.fields
                    div.six.wide.field
                        label 5.1. A Igreja tem Seguro do bem patrimonial?
                    div.one.wide.field
                        label Sim
                        input(name="radio19" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio19" type="radio")
                    div.six.wide.field
                        label 5.2. Tem Alvará de Funcionamento?
                    div.one.wide.field
                        label Sim
                        input(name="radio20" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio20" type="radio")
                div.inline.fields
                    div.six.wide.field
                        label 5.3. Tem Licença do Corpo de Bombeiros em dia?
                    div.one.wide.field
                        label Sim
                        input(name="radio21" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio21" type="radio")
                    div.six.wide.field
                        label 5.4. Tem Certificado Digital?
                    div.one.wide.field
                        label Sim
                        input(name="radio22" type="radio")
                    div.one.wide.field
                        label Não
                        input(name="radio22" type="radio")
                div(style="text-align: center; padding-top: 50px;")
                    div.sixteen.wide.field.ui.fitted.divider
                div(style="text-align: center; padding-button: 50px;")
                    div.sixteen.wide.field
                        label Assinatura Secretário
                div(style="text-align: center")
                    button.ui.green.labeled.icon.button(type="submit")
                        i.plus.icon
                        | Gravar

                    button.ui.reset.button(type="reset")
                        i.minus.icon
                        | Limpar

                    button.ui.red.right.labeled.icon.button(type="button")
                        i.remove.icon
                        | Excluir