extends layouts/_layout.pug

block content
    div.ui.segment
        div(style="position: absolute;right: 20px;")
            div.ui.breadcrumb
                a.section(href="inicio")
                    i.home.icon
                div.divider /
                a.section Relatórios
                div.divider /
                div.active.section Estatísticas

        div.ui.clearing

        h2.ui.floated.header
            | Relatório de Estatísticas
            div.sub.header
                | Relatório de Estatísticas. -> breve explicação da tela

        div.ui.clearing.divider
        p
        div.ui.top.attached.tabular.menu
            a.item.active(data-tab="first") Relatórios
            a.item(data-tab="second") Responder

        div.ui.bottom.attached.tab.segment.active(data-tab="first")
            table.ui.compact.selectable.celled.blue.table(id="tbl_relatorios_estatisticas")
                thead
                    tr
                        th.one.wide Código
                        th.ten.wide Tipo Relatório
                        th.two.wide.center.aligned Data Inclusão
                        th.two.wide.center.aligned Ultima Alteração
                        th.two.wide.center.aligned Status
                        th.two.wide.center.aligned Ano

                tbody(id="tbody_relatorios_estatisticas")
                    tr
                        td 01
                        td RELATÓRIO ESTATÍSTICAS
                        td 11/02/2017
                        td 20/02/2017
                        td Em Edição
                        td 2018
                    tr
                        td 02
                        td RELATÓRIO ESTATÍSTICAS
                        td 11/05/2016
                        td 20/08/2016
                        td Importado
                        td 2017

        //form.ui.bottom.attached.tab.segment.active(data-tab="second", id="relatorios_estatisticas", name="relatorios_estatisticas")
        form.ui.bottom.attached.tab.segment(data-tab="second", id="relatorios_estatisticas")
            | @csrf
            div.ui.segments
                div.ui.blue.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong INFORMAÇÕES CADASTRAIS E ESTATÍSTICAS DE COMUNIDADE PRESBITERIANA

                div.ui.form.segment
                    div.fields
                        div.two.wide.field
                            label Ano
                            input(type="text", value="2018", name="ano")
                        div.seven.wide.field
                            label Sínodo
                            input(type="text", name="sinodo", value="", disabled="")
                            //select.ui.fluid.search.dropdown(name="id_sinodo")
                                option

                        div.seven.wide.field(id="div_presbiterio")
                            label Presbitério
                            input(type="text", name="presbiterio", value="", disabled="")
                            //select.ui.fluid.search.dropdown(name="id_presbiterio", id="id_presbiterio")
                            //div.ui.active.inline.small.loader(style="display:none", id="loader_presbiterio")

                        //div.six.wide.field
                            label Igreja
                            input(type="text", name="igreja", value="", disabled="")
                            //select.ui.fluid.search.dropdown(name="id_igreja")
                            //div.ui.active.inline.small.loader(style="display:none", id="loader_igreja")

                //div.ui.form.segment
                    div.fields
                        div.two.wide.field
                            label Ano
                            input(type="text", value="2018", name="ano")
                        div.four.wide.field
                            label Sínodo
                            select.ui.fluid.search.dropdown(name="id_sinodo")
                                option

                        div.six.wide.field(id="div_presbiterio")
                            label Presbitério
                            select.ui.fluid.search.dropdown(name="id_presbiterio", id="id_presbiterio")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_presbiterio")

                        div.six.wide.field
                            label Igreja
                            select.ui.fluid.search.dropdown(name="id_igreja")
                            div.ui.active.inline.small.loader(style="display:none", id="loader_igreja")

            div.ui.segments
                div.ui.blue.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong I - Identificação da Igreja / Congregação Presbiterial

                div.ui.form.segment
                    div.fields
                        div.sixteen.wide.field
                            label Nome (Igreja/Congregação)
                            input(type="text" value="0", disabled="" name="nome")

                    div.fields
                        div.eight.wide.field
                            label Endereço
                            input(type="text" value="0", disabled="" name="endereco")
                        div.two.wide.field
                            label Número
                            input(type="text" value="0", disabled="" name="endereco_numero")
                        div.three.wide.field
                            label Complemento
                            input(type="text" value="0", disabled="" name="endereco_complemento")
                        div.three.wide.field
                            label Bairro
                            input(type="text" value="0", disabled="" name="endereco_bairro")

                    div.fields
                        div.four.wide.field
                            label Estado
                            input(type="text", disabled="", name="estado")
                        div.four.wide.field
                            label Cidade
                            input(type="text", disabled="", name="cidade")
                        div.three.wide.field
                            label CEP
                            input(type="text" value="0", disabled="" name="endereco_cep")
                        div.two.wide.field
                            label Cx. P
                            input(type="text" value="0", disabled="" name="endereco_cx_postal")
                        div.three.wide.field
                            label CEP Cx. P
                            input(type="text" value="0", disabled="" name="endereco_cx_cep")

                    div.fields
                        div.two.wide.field
                            label Telefone
                            input(type="text" value="0", disabled="" name="telefone")
                        div.four.wide.field
                            label E-Mail
                            input(type="text" value="0", disabled="" name="email")
                        div.four.wide.field
                            label HomePage
                            input(type="text" value="0", disabled="" name="homepage")
                        div.three.wide.field
                            label CNPJ
                            input(type="text" value="0", disabled="" name="cnpj")
                        div.three.wide.field
                            label Data Organização
                            input(type="text" value="0", disabled="" name="data_organizacao")

            div.ui.segments
                div.ui.blue.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong II - Estrutura da Comunidade Presbiteriana


                div.ui.form.segment
                    div.ui.horizontal.segments
                        div.ui.segment(style="width: 30%;")
                            div.ui.top.attached.label.blue(style="text-align: center;") LIDERANÇA FORMAL
                            div.inline.fields
                                div.five.wide.field
                                    label Pastores
                                div.four.wide.field
                                    input(type="text" value="0" name="ec_pastores")
                            div.inline.fields
                                div.five.wide.field
                                    label Licenciados
                                div.four.wide.field
                                    input(type="text" value="0" name="ecl_licenciados")
                            div.inline.fields
                                div.five.wide.field
                                    label Presbíteros
                                div.four.wide.field
                                    input(type="text" value="0" name="ecl_presbiteros")
                            div.inline.fields
                                div.five.wide.field
                                    label Diáconos
                                div.four.wide.field
                                    input(type="text" value="0" name="ecl_diaconos")
                            div.inline.fields
                                div.five.wide.field
                                    label Evangelistas
                                div.four.wide.field
                                    input(type="text" value="0" name="ecl_evangelistas")
                            div.inline.fields
                                div.five.wide.field
                                    label Missionários
                                div.four.wide.field
                                    input(type="text" value="0" name="ecl_missionarios")
                            div.inline.fields
                                div.five.wide.field
                                    label Candidatos
                                div.four.wide.field
                                    input(type="text" value="0" name="ecl_candidatos")

                        div.ui.segment(style="width: 30%;")
                            div.ui.top.attached.label.blue(style="text-align: center;") ESTRUTURA DO TRABALHO
                            div.inline.fields
                                div.ten.wide.field
                                    label Congregações da Igreja
                                div.six.wide.field
                                    input(type="text" value="0" name="ect_congregacoes")
                            div.inline.fields
                                div.ten.wide.field
                                    label Pontos de Pregação
                                div.six.wide.field
                                    input(type="text" value="0" name="ect_pontos_pregacao")
                            div.inline.fields
                                div.ten.wide.field
                                    label Escolas Dominicais
                                div.six.wide.field
                                    input(type="text" value="0" name="ect_ebd")
                            div.inline.fields
                                div.ten.wide.field
                                    label Professores da EBD
                                div.six.wide.field
                                    input(type="text" value="0" name="ect_professores")
                            div.inline.fields
                                div.ten.wide.field
                                    label Alunos EBD (Ano Atual)
                                div.six.wide.field
                                    input(type="text" value="0" name="ect_alunos_ebd_atual")
                            div.inline.fields
                                div.ten.wide.field
                                    label Alunos EBD (Ano Anterior)
                                div.six.wide.field
                                    input(type="text" value="0" name="ect_alunos_ebd_anterior")

                        div.ui.segment(style="width: 40%;")
                            div.ui.top.attached.label.blue(style="text-align: center;") DEPARTAMENTOS INTERNO
                            div.inline.fields
                                div.four.wide.field
                                    label UCP
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Departamentos")
                                        div.ui.label D.
                                        input(type="text" value="0" name="di_ucp_dep")
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Membros")
                                        div.ui.label M.
                                        input(type="text" value="0" name="di_ucp_membros")
                            div.inline.fields
                                div.four.wide.field
                                    label UPA
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Departamentos")
                                        div.ui.label D.
                                        input(type="text" value="0" name="di_upa_dep")
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Membros")
                                        div.ui.label M.
                                        input(type="text" value="0" name="di_upa_membros")
                            div.inline.fields
                                div.four.wide.field
                                    label UMP
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Departamentos")
                                        div.ui.label D.
                                        input(type="text" value="0" name="di_ump_dep")
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Membros")
                                        div.ui.label M.
                                        input(type="text" value="0" name="di_ump_membros")
                            div.inline.fields
                                div.four.wide.field
                                    label SAF
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Departamentos")
                                        div.ui.label D.
                                        input(type="text" value="0" name="di_saf_dep")
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Membros")
                                        div.ui.label M.
                                        input(type="text" value="0" name="di_saf_membros")
                            div.inline.fields
                                div.four.wide.field
                                    label UPH
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Departamentos")
                                        div.ui.label D.
                                        input(type="text" value="0" name="di_uph_dep")
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Membros")
                                        div.ui.label M.
                                        input(type="text" value="0" name="di_uph_membros")
                            div.inline.fields
                                div.four.wide.field
                                    label Outras
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Departamentos")
                                        div.ui.label D.
                                        input(type="text" value="0" name="di_outras_dep")
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Membros")
                                        div.ui.label M.
                                        input(type="text" value="0" name="di_outras_membros")
                            div.inline.fields
                                div.four.wide.field
                                    label Total
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Departamentos")
                                        div.ui.label D.
                                        label TOTAL
                                div.six.wide.field
                                    div.ui.labeled.input(data-tooltip="Nº de Membros")
                                        div.ui.label M.
                                        label TOTAL


            div.ui.segments
                div.ui.blue.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong IV - Rol de Membros

                div.ui.form.segment
                    div.ui.horizontal.segments
                        div.ui.segment
                            div.ui.top.attached.label.blue(style="text-align: center;") ADMISSÃO - COMUNGANTES
                            div.inline.fields
                                div.five.wide.field
                                    label Profissão de Fé
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text", value="0", name="rma_profissao_fe_masc", id="masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text", value="0", name="rma_profissao_fe_fem", id="fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Profissão de Fé e Batismo
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rma_profissao_batismo_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rma_profissao_batismo_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Transferência
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rma_transf_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rma_transf_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Jurisdição
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rma_jurisdicao_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rma_jurisdicao_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Restauração
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rma_restauracao_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rma_restauracao_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Designação do Presbitério
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rma_designacao_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rma_designacao_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL



                        div.ui.segment
                            div.ui.top.attached.label.blue(style="text-align: center;") ADMISSÃO - NÃO-COMUNGANTES
                            div.inline.fields
                                div.five.wide.field
                                    label Batismo
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rma_batismo_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rma_batismo_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Transferência
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rma_transferencia_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rma_transferencia_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Jurisdição Ex-Officio
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rma_jurisdicao_ex_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rma_jurisdicao_ex_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                    div.ui.horizontal.segments
                        div.ui.segment
                            div.ui.top.attached.label.blue(style="text-align: center;") DEMISSÃO - COMUNGANTES
                            div.inline.fields
                                div.five.wide.field
                                    label Transferência
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_transferencia_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_transferencia_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Falecimento
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_falecimento_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_falecimento_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Exclusão
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_exclucao_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_exclucao_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Ordenação
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_ordenacao_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_ordenacao_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL


                        div.ui.segment
                            div.ui.top.attached.label.blue(style="text-align: center;") DEMISSÃO - NÃO-COMUNGANTES
                            div.inline.fields
                                div.five.wide.field
                                    label Profissão de Fé
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_profissao_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_profissao_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Transferência
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_transferencia_masc__ncomumg")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_transferencia_fem__ncomumg")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Falecimento
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_falecimento_masc_ncomumg")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_falecimento_fem_ncomumg")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Exclusão
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_exclusao_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_exclusao_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL


                    div.ui.horizontal.segments
                        div.ui.segment
                            div.inline.fields
                                div.five.wide.field
                                    label Rol Separado
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_separado_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_separado_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field(data-tooltip="RESULTADO de (admissão - demissão)")
                                    label DIFERENÇA
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_diferenca_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_diferenca_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Comungates (Ano Anterior)
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_comung_anterior_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_comung_anterior_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Comungantes (Ano Atual)
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_comung_atual_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_comung_atual_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL


                        div.ui.segment
                            div.inline.fields
                                div.five.wide.field(data-tooltip="RESULTADO de (admissão - demissão)")
                                    label DIFERENÇA
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_dif_comung_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_dif_comung_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Não Comungante (Ano Anterior)
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_nao_comung_anterior_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_nao_comung_anterior_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field
                                    label Não Comungante (Ano Atual)
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_nao_comung_atual_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_nao_comung_atual_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL

                            div.inline.fields
                                div.five.wide.field(data-tooltip="RESULTADO (Comungantes + Não Comungantes)")
                                    label Rol Atual
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label M
                                        input(type="text" value="0" name="rmd_rol_atual_masc")
                                div.four.wide.field
                                    div.ui.labeled.input
                                        div.ui.label F
                                        input(type="text" value="0" name="rmd_rol_atual_fem")
                                div.three.wide.field
                                    div.ui.labeled.input.disabled
                                        label TOTAL


            div.ui.segments
                div.ui.blue.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong V - Informações Financeiras


                div.ui.form.segment
                    div.ui.horizontal.segments
                        div.ui.segment
                            div.ui.top.attached.label.blue(style="text-align: center;") MOVIMENTO FINANCEIRO - ANO ANTERIOR
                            div.inline.fields
                                div.eight.wide.field
                                    label Saldo - Ano Anterior
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="if_mf_saldo_anterior")
                            div.inline.fields
                                div.six.wide.field
                                    div.ui.label.blue
                                        label RECEITAS
                            div.inline.fields
                                div.eight.wide.field
                                    label Dízimos e Ofertas
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_dizimos")
                            div.inline.fields
                                div.eight.wide.field
                                    label Ofertas Especiais
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_ofertas_especificas")
                            div.inline.fields
                                div.eight.wide.field
                                    label Total de Receita Anual
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL
                            div.inline.fields
                                div.eight.wide.field
                                    label Grande Total
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL
                            div.inline.fields
                                div.six.wide.field
                                    div.ui.label.blue
                                        label DESPESAS
                            div.inline.fields
                                div.eight.wide.field
                                    label Patrimônio
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_patrimonio")
                            div.inline.fields
                                div.eight.wide.field
                                    label Causas Locais
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_causas")
                            div.inline.fields
                                div.eight.wide.field
                                    label Evangelismo Local
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_evangelismo")
                            div.inline.fields
                                div.eight.wide.field
                                    label Missões
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_missoes")
                            div.inline.fields
                                div.eight.wide.field
                                    label Sustento Pastoral
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_sustento_pastoral")
                            div.inline.fields
                                div.eight.wide.field
                                    label Verba Presbiterial
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_verba_presbiterial")
                            div.inline.fields
                                div.eight.wide.field
                                    label Dízimos ao Supremo Concílio
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="fina_dizimo_supremo")
                            div.inline.fields
                                div.eight.wide.field
                                    label Total Despesa Anual
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL
                            div.inline.fields
                                div.eight.wide.field
                                    label Saldo - Ano Seguinte
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL
                            div.inline.fields
                                div.eight.wide.field
                                    label Grande Total
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL

                        div.ui.segment
                            div.ui.top.attached.label.blue(style="text-align: center;") PREVISÃO ORÇAMENTÁRIA - PRÓXIMO EXERCÍCIO
                            div.inline.fields
                                div.eight.wide.field
                                    label Saldo - Ano Anterior
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="if_po_saldo_anterior")
                            div.inline.fields
                                div.six.wide.field
                                    div.ui.label.blue
                                        label RECEITAS
                            div.inline.fields
                                div.eight.wide.field
                                    label Dízimos e Ofertas
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_dizimos")
                            div.inline.fields
                                div.eight.wide.field
                                    label Ofertas Especiais
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_ofertas_especificas")
                            div.inline.fields
                                div.eight.wide.field
                                    label Total de Receita Anual
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL
                            div.inline.fields
                                div.eight.wide.field
                                    label Grande Total
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL
                            div.inline.fields
                                div.six.wide.field
                                    div.ui.label.blue
                                        label DESPESAS
                            div.inline.fields
                                div.eight.wide.field
                                    label Patrimônio
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_patrimonio")
                            div.inline.fields
                                div.eight.wide.field
                                    label Causas Locais
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_causas")
                            div.inline.fields
                                div.eight.wide.field
                                    label Evangelismo Local
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_evangelismo")
                            div.inline.fields
                                div.eight.wide.field
                                    label Missões
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_missoes")
                            div.inline.fields
                                div.eight.wide.field
                                    label Sustento Pastoral
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_sustento_pastoral")
                            div.inline.fields
                                div.eight.wide.field
                                    label Verba Presbiterial
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_verba_presbiterial")
                            div.inline.fields
                                div.eight.wide.field
                                    label Dízimos ao Supremo Concílio
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="finp_dizimo_supremo")
                            div.inline.fields
                                div.eight.wide.field
                                    label Total Despesa Anual
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        input(type="text" value="0" name="id_presbitero_conselho")
                            div.inline.fields
                                div.eight.wide.field
                                    label Saldo - Ano Seguinte
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL
                            div.inline.fields
                                div.eight.wide.field
                                    label Grande Total
                                div.six.wide.field
                                    div.ui.labeled.input
                                        div.ui.label R$
                                        label TOTAL



            div.ui.segments
                div.ui.blue.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong VI - Informações Finais

                div.ui.form.segment
                    div.fields
                        div.sixteen.wide.field
                            label Secretário do Conselho
                            input(type="text", name="relator_nome", disabled="")

                    div.fields
                        div.eight.wide.field
                            label Endereço
                            input(type="text", name="relator_endereco", disabled="")
                        div.two.wide.field
                            label Número
                            input(type="text", name="relator_endereco_numero", disabled="")
                        div.three.wide.field
                            label Complemento
                            input(type="text", name="relator_endereco_complemento", disabled="")
                        div.three.wide.field
                            label Bairro
                            input(type="text", name="relator_endereco_bairro", disabled="")

                    div.fields
                        div.four.wide.field
                            label Estado
                            input(type="text", name="relator_estado", disabled="")
                        div.four.wide.field
                            label Cidade
                            input(type="text", name="relator_cidade", disabled="")
                        div.three.wide.field
                            label CEP
                            input(type="text", name="relator_endereco_cep", disabled="")
                        div.two.wide.field
                            label Cx. P
                            input(type="text", name="relator_cx", disabled="")
                        div.three.wide.field
                            label CEP Cx. P
                            input(type="text", name="relator_cep_cx", disabled="")

                    div.fields
                        div.three.wide.field
                            label Telefone
                            input(type="text", name="relator_telefone", disabled="")
                        div.three.wide.field
                            label Celular
                            input(type="text", name="relator_celular", disabled="")
                        div.three.wide.field
                            label Tel. Igreja
                            input(type="text", name="relator_igreja_telefone", disabled="")
                        div.seven.wide.field
                            label E-mail
                            input(type="text", name="relator_email", disabled="")



            div.ui.segments
                div.ui.blue.segment(style="text-align: center; background-color: #F9FAFB")
                    p
                        strong INFORMAÇÕES SOBRE O PREENCHIMENTO

                div.ui.horizontal.segments
                    div.ui.segment
                        span
                            strong Usuário inclusão:
                        span
                            | &nbsp;
                            | Kallew Pavão
                            | &nbsp;
                        span(style="float: right;")
                            strong Data:
                            | &nbsp;
                            | 01/01/2018

                    div.ui.segment
                        span
                            strong Última alteração:
                        span
                            | &nbsp;
                            | Kallew Pavão
                            | &nbsp;
                        span(style="float: right;")
                            strong Data:
                            | &nbsp;
                            | 01/01/2018

                div.ui.segment
                    div.ui.toggle.checkbox(data-tooltip="Deixe AZUL caso tenha FINALIZADO este relatório.")
                        label Relatório Finalizado
                        input(type="checkbox", name="relatorio_finalizado")


            div.ui.clearing.divider

            div(style="text-align: center")
                button.ui.green.labeled.icon.button(type="submit")
                    i.plus.icon
                    | Gravar

                button.ui.reset.button(type="reset")
                    i.minus.icon
                    | Limpar

                button.ui.red.right.labeled.icon.button(type="button")
                    i.remove.icon
                    | Excluir



block specific-js
    script(src='js/app/jquery-validate-app.js')
    script(src="js/plugins/bootstrap-datepicker.min.js")
    script(src="js/plugins/bootstrap-datepicker.pt-BR.min.js")
    script(src="js/plugins/dataTables.min.js")
    script(src="js/plugins/sweetalert.min.js")
    script(src="js/app/relatorios-estatisticas-app.js")
    script().
        var usuario = {!!\App\User::with(['presbitero', 'presbitero.igreja', 'presbitero.igreja.presbiterio', 'presbitero.igreja.presbiterio.sinodo', 'presbitero.endereco_estado', 'presbitero.endereco_cidade', 'presbitero.nascimento_estado', 'presbitero.nascimento_cidade',])->where('id', 1)->get()!!}