div.ui.small.modal
	
	div.header
		span
			| Painel de Alertas
		span(style="margin-left: 10px;position: absolute;")
			i.big.teal.bullhorn.icon
	
	div.scrolling.content
		div.segment
			div.ui.header 
				| Relatórios Finalizados

			table.ui.basic.table
				thead.full-width
					tr
						th.center.aligned Visualizado
						th Igreja
						th Relatório
						th Data Finalizado
				tbody
					tr
						td.collapsing
							span.ui.checkbox
								input(type="checkbox")
								label
									i.eye.icon

						td IGREJA PRESBITERIANA LUZ E VIDA
						td RELATÓRIO FINANCEIRO
						td 21/03/2018				
					tr
						td.collapsing
							span.ui.checkbox
								input(type="checkbox", checked="")
								label
									i.eye.icon

						td IGREJA PRESBITERIANA LUZ E VIDA
						td RELATÓRIO FINANCEIRO
						td 21/03/2018					
					tr
						td.collapsing
							span.ui.checkbox
								input(type="checkbox")
								label
									i.eye.icon

						td IGREJA PRESBITERIANA LUZ E VIDA
						td RELATÓRIO FINANCEIRO
						td 21/03/2018


		p
		div.ui.clearing.divider
		p
		div.segment
			div.ui.header
				| Mensagens do sistema

			div.ui.info.message
				div.header
					| Calendário de reuniões
				ui.list
					li
						| A reunião do conselho da igreja acontecerá nos dias 16/05/2018 à 22/05/2018.
					li
						| A reunião do presbitério acontecerá nos dias 16/05/2018 à 22/05/2018.
					li
						| A reunião do sínodo acontecerá nos dias 22/10/2018 à 25/10/2018.

	div.actions
		button.ui.primary.labeled.icon.button.approve
			i.envelope.open.icon
			| OK
