div.ui.modal
	
	div.header
		| Relatórios Finalizados
	
	div.content
		table.ui.basic.table
			thead.full-width
				tr
					th.center.aligned Visualizado
					th Igreja
					th Relatório
					th Data Finalizado
			tbody
				tr
					td.collapsing
						span.ui.checkbox
							input(type="checkbox")
							label
								i.eye.icon

					td IGREJA PRESBITERIANA LUZ E VIDA
					td RELATÓRIO FINANCEIRO
					td 21/03/2018
	
	div.actions
		button.ui.primary.labeled.icon.button.approve
			i.envelope.open.icon
			| OK
